[2022-02-06 08:41] stefanprodan commented on #2393
v0.26.1 comes with CLI only fixes, please see the changelog https://github.com/fluxcd/flux2/releases/tag/v0.26.1

[2022-02-06 08:41] #2393 closed

[2022-02-06 14:06] knweiss commented on #2351
FWIW this also happens for me on a local Minikube-based k8s on macOS (same error message).

Also, the 2nd bootstrap run always creates a new source secret public key on GitHub and succeeds.
[code]

My bootstrap looks like this:
[code]

[2022-02-06 17:02] danports commented on #2393
Got it, thanks for clarifying.

[2022-02-07 09:18] #2387 closed

[2022-02-07 09:18] #2388 closed

[2022-02-07 09:57] snukone commented on #1878
Hi @kingdonb , all right, thanks a lot for providing your explanation. Your right, fixing errors with just uninstall + install is a long time ago ;) In our case we have sometimes services based on helmcharts on dev enviroments, which arent important and havent been used for a longer time. Thats when we ignore installation errors, because in 99% they are just occuring because of outdated helmchart

[2022-02-07 10:10] Legion2 commented on #2386
@stefanprodan I'm not familiar with the kubectl patch command, could you give an example on how to remove a managed field?

[2022-02-07 10:25] stefanprodan commented on #2386
Create a YAML with only metadata and managed fields, them the volumeName then apply it with kubectl patch, docs here https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/

[2022-02-07 13:38] rombert opened #2400 "flux diff could provide an inline diff for large configmap entries"
### Describe the bug

First of all, thanks for the rapid fixes around the `flux diff` and `flux build` commands.

I ran into a case in which I think the `flux diff` command could be even more useful. It is sometimes the case that configmap entries hold entire configuration files in formats like YAML or JSON. A one-line change in a large file is now shown by `flux diff` as a complete change of the

[2022-02-08 00:00] stevewallone opened #2404 "kustomize controller dry run failure - metadata.managedFields must be nil"
### Describe the bug

When attempting to deploy a ConfigMap, the below error is logged and the deployment fails.

[code]

### Steps to reproduce

1. Add the ConfigMap manifest to a fluxv2 monitored repo.

[code]

### Expected behavior

The config map is created.

### Screenshots and recordings

_No response_

### OS / Distro

Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5-

[2022-02-08 05:29] SomtochiAma commented on #2404
The error is from Kubernetes server side apply. Trying to apply the manifest with
[code]
will give you the same error.
Please remove the managed field in the metadata.
Your yaml should look like
[code]

[2022-02-08 06:52] stefanprodan commented on #2404
`managedFields` can’t be specified in Git, remove them please.

[2022-02-08 06:52] #2404 closed

[2022-02-08 12:14] groenator opened #2405 "Unable to decrypt files via sops and KMS using v0.26.1 version"
I am running Flux using Openshift 4.8 platform. Flux is installed via the Openshift Operator community marketplace.

However, since (last week) I installed the latest version of the operator (v0.26.1) I am no longer able to decrypt files from our repository using the AWS credentials set for flux.

When I create the Kustomization resource, I am getting the below error;

[code]

The `cloud-creds` is

[2022-02-08 12:21] stefanprodan commented on #2405
AWS requires an `fsGroup` to be specified for non root containers, but Openshift doesn't like that. You need to restore the `fsGroup ` and use SCC, all of this is on OperatorHub readme: https://operatorhub.io/operator/flux

[2022-02-08 15:18] stevewallone commented on #2404
@SomtochiAma @stefanprodan thanks for the information! I was seeing this while converting from flux v1 to v2. I'm curious why it worked in v1. Any thoughts?

[2022-02-08 16:09] groenator commented on #2405
Thanks @stefanprodan

I will look into this!

Regards,

[2022-02-08 19:19] superherointj commented on #2351
[code]

I'm having same issue. And I've tried `flux version 0.26.2` and problem persisted. Should it be gone?

[2022-02-09 10:32] eloo opened #2408 "Unable to customize bootstrapped controllers"
### Describe the bug

Hi,

i'm currently facing issues with the helm-controller related to OOM because of many changes on our helm releases.
There is already a bug which recommends to adjust the memory limit and concurrent setting for the controllers.

But it seems that its not possible to customize bootstrapped controller fully.
In the docs there is an example of how a kustomization (gotk-patches

[2022-02-09 10:37] stefanprodan commented on #2408
Strategic merge doesn't work for arrays, the array is fully replaced, this is not related to Flux but to how [Kustomize](https://github.com/kubernetes-sigs/kustomize) works.

You have to use a JSON patch to add flags, example here: https://github.com/fluxcd/flux2/blob/main/manifests/bases/helm-controller/patch.yaml#L3

[2022-02-09 10:42] hiddeco commented on #2408
In addition to getting the patch to work, based on the mention of `app.kubernetes.io/version: v0.25.3`, it looks like updating to Flux `v0.26.x` would have more effect due to a memory leak fix in Helm which got included in the latest release range.

[2022-02-09 10:45] eloo commented on #2408
@stefanprodan thanks for the link.

maybe the docs can have also an example of the json patch here? https://fluxcd.io/docs/installation/#customize-flux-manifests
or at least a link the example you have mentioned

@hiddeco thanks for the hint 👍

[2022-02-09 13:18] kingdonb opened #2409 "Add more scopes to the default k8s ClusterRoles"
If the kubernetes user has viewer access broadly to the cluster, should they also have access to Flux resources?

An example was provided in the discussions from cert-manager who has solved a similar issue.

### Discussed in https://github.com/fluxcd/flux2/discussions/2358

<div type='discussions-op-text'>

<sup>Originally posted by **ilya-git** January 31, 2022</sup>
By default k8s has some Clust

[2022-02-09 16:05] jahzielHA opened #2411 "Flux Bootstrap for a private bitbucket repository does not pick up the Project Key correctly"
### Describe the bug

When the bitbucket project name matches for more than one name (--owner flag) flux2 picks up the first project name match.

For example, given the two bitbucket projects:
* Name: Community ;  Key: CMT
* Name: Unity ; Key: UNITY
Trying to bootstrap the Unity project will fail since it picks up CMT first.

I think it can be related to the provider for stash used by flux2
See: h

[2022-02-09 16:47] souleb commented on #2411
thanks for reporting. We assumed unique name. We will match on name and key.

[2022-02-09 16:58] youwalther65 opened #2412 "flux does not recognize (podinfo) kustomization YAML from GitHub"
### Describe the bug

I am a newby to Fluxv2

I use
$ **flux --version**
flux version 0.26.2

and followed:
https://fluxcd.io/docs/get-started/#deploy-podinfo-application
I create a GitHub repo and put both podinfo resources into it.

Only the podinfo GitRepository resource is recognized and created from GitHib
$ **flux get sources all**
NAME                            READY   MESSAGE

[2022-02-09 17:01] jahzielHA commented on #2411
@souleb thanks for replying back.
Oh, That was just an example, a project name "Community" with a project Key "CCT". In bitbucket project names and project keys can be different.

[2022-02-09 17:15] gvillafanetapia commented on #2351
fixed for me with version 0.26.2 😕

[2022-02-09 19:34] pjbgf opened #2413 "Automate performance benchmark to detect regression"
Some of flux controllers have operations that are controlled by default timeouts (GitRepository, Bucket).
To avoid performance regressions, this could be automated to detect for the most time sensitive operations.

https://github.com/fluxcd/source-controller/issues/559

[2022-02-10 07:27] #2357 closed

[2022-02-10 08:43] eloo commented on #2408
@stefanprodan can confirm that your example helped me.
Docs about that would be great

@hiddeco I can confirm that the memory issue in helm-controller seems to be solved in the new release
![image](https://user-images.githubusercontent.com/2631895/153369897-8d46a375-28d2-4b1f-a4b3-4287206d51f1.png)

On the left side the old version, on the right side the new version.
The spikes we can see was when

[2022-02-10 08:47] zxkane opened #2414 "the source secret is not updated when re-bootstraping to new repo"
### Describe the bug

Following [the doc](https://fluxcd.io/docs/installation/#github-and-github-enterprise) to re-bootstrap to another github repo.

The bootstrap failed with below output.

[code]

### Steps to reproduce

1. export GITHUB_TOKEN=<your-token>
2. bootstrap flux `flux bootstrap github --owner=zxkane --repository=eks-gitops --path=clusters/gitops-cluster --personal`
3. rebootstrap to

[2022-02-10 08:49] stefanprodan commented on #2414
This is by design, changing the bootstrap target or auth method is not supported. You need to do `flux uninstall` or delete the `flux-system` secret with kubectl.

[2022-02-10 09:25] zxkane commented on #2414
The UX is not friendly.  As a user I see the new repo was created and the
configuration of flux was pushed. If it's not supported, the clear message
would be helpful a lot.

Stefan Prodan ***@***.***> 于 2022年2月10日周四 下午4:49写道：

[2022-02-10 09:28] mibollma commented on #2351
For me it's still there with 0.26.2 just as @youwalther65 mentioned

[2022-02-10 09:46] stefanprodan commented on #2351
@mibollma I see that in your bootstrap output `component manifests are up to date`, the components YAMLs are already in Git, do you run bootstrap on an existing repo that was already bootstrapped?

[2022-02-10 09:56] mibollma commented on #2351
@stefanprodan I do. The AKS clusters for the different stages (dev, qa, prod) are created on-demand and don't run indefinitely. Every time after a cluster is created it needs to be bootstrapped again.
When I updated to 0.26.2 it also updated the component YAMLs, otherwise it prints the message you mentioned above.

[2022-02-10 10:00] stefanprodan commented on #2351
OK this is a use-case that bootstrap currently doesn't support, we assume the sync manifests are not in Git if the cluster is new. If the sync manifests are in Git, bootstrap tries to do an upgrade, but there is nothing to upgrade as the cluster doesn't even have the CRDs registered...

[2022-02-10 10:18] stefanprodan commented on #2351
@mibollma I tried this just now with two clusters, what's really strange is that for you, on the 2nd cluster it doesn't generate a public key, so either you modified the output you posted here or something else is done on that cluster that you haven't shared here. Can you please join Slack and ping me at `@stefanprodan`.

[2022-02-10 10:40] mibollma commented on #2351
@stefanprodan I'm not creating anything in parallel and I don't run two clusters using the same configuration in parallel... it's pretty much still in development so I usually setup a dev cluster, work on it a few hours and destroy it again.
The error shows up pretty consistently every time and it always works after running bootstrap a second time.
I also receive an email about a new key being add

[2022-02-10 11:17] youwalther65 commented on #2351
@stefanprodan: I used the already existing GitHub repo with templates created by Flux 0.26.2. I am new to Flux and use flux bootstrap/uninstall a lot to get used to it. I used Terraform as well to initially create the repo. The error was encountered when I re-installed Flux using CLI with already existing GitHub repo on an already existing EKS cluster where I previously did "flux uninstall".

[2022-02-10 11:28] poblish commented on #2351
We currently bootstrap two clusters in parallel each morning and have done for several months, often with more clusters than that, something that has always worked well. Since 0.26.x both fail consistently in exactly the same way. Re-running bootstrap for each always works.

Not sure if that's helpful, but it does look like a very clear change in behaviour since 0.25.x

[2022-02-10 12:42] pjbgf opened #2417 "Refactor fuzzing implementations to support go native feature"
Flux has recently implemented an initial coverage of fuzzing across its repositories (xref https://github.com/fluxcd/flux2/issues/2002).
At the time of implementation golang did not offer native fuzz testing support, which is yet to be released in [golang 1.18].

The proposed refactoring would:
- Build fuzzers using `compile_native_go_fuzzer` instead of `compile_go_fuzzer`.
- Review need to depend

[2022-02-10 14:08] groenator commented on #2405
Hi @stefanprodan

I am re-opening this issue because  I think the issue I am encountering now its different.

I tried the above steps, non of the steps describe in the docs worked and the issue is still occuring.

What I am confused about it is  the error messege.

How does Flux knows the secret name when the kustomization resoure is configured to mount a volume from a secret and dump the secret i

[2022-02-10 16:44] #2351 closed

[2022-02-10 17:09] cheruvu1 opened #2419 "helm-controller error: Forbidden"
### Describe the bug

During the reconciliation I am getting the following error, Flux is not able to connect to my GitHub giving timeout error. When I check the logs, I see the following error.  Please advice ?.
https://xxxxx:11111/containerLogs/flux-system/helm-controller-58d73927822dbcf-q5mjd/manager: Forbidden

Thank you

### Steps to reproduce

1. Install Flux flux version 0.26.2
2. Deploy a

[2022-02-10 17:12] stefanprodan commented on #2351
Please try out Flux 0.26.3 and let me know here if it solves the issue or not. Thanks!

[2022-02-10 17:48] cheruvu1 commented on #2419
Exactly Error is below:
gitrepository.source.toolkit.fluxcd.io/xxxx-repo   https://github.com/xxxx/xxxx   False   unable to clone 'https://github.com/xxxx/xxxx', error: failed to connect to github.com: Connection timed out

[2022-02-10 19:57] youwalther65 commented on #2351
@stefanprodan Am I right with the assumption that this 0.26.2 change is reflected in Terraform provider 0.10.2 release 2 hours ago? If yes - very cool, thx a lot !!!

[2022-02-10 23:25] kingdonb commented on #2351
@youwalther65 You can see the difference between terraform provider v0.10.2 and v0.10.1 here:

https://github.com/fluxcd/terraform-provider-flux/compare/v0.10.1...v0.10.2

(The change is in Flux 0.26.3, which was the version that was utilized in flux-terraform-provider v0.10.2 👍 )

[2022-02-10 23:56] cep21 opened #2421 "Migration safety: Allow deletion of kustomization without removing managed objects (one level less than spec.prune)"
### Describe the bug

Our flux 1.0 setup is a monorepo with this setup
[code]

For example, we have one file in the path
[code]

In that path we put a v1 helmrelease.  As well as a file `namespace.yaml` that makes the namespace itself.

When I installed flux v2, I followed the directions on [the migration guide](https://fluxcd.io/docs/migration/flux-v1-migration/#flux-with-kustomize).

One of thos

[2022-02-11 08:56] mibollma commented on #2351
For me it seems to work now with 0.26.3.
@stefanprodan Thank you very much for your support 👍.

[2022-02-11 10:10] poblish commented on #2351
0.26.3 worked perfectly for us this morning. Thanks again @stefanprodan !

[2022-02-11 11:12] stefanprodan commented on #2351
Great news! This was a hard bug to reproduce, thanks Weaveworks for providing me with a 64GB RAM MacBook :)) I had to run dozen Kind clusters in parallel to catch this.

[2022-02-11 12:22] youwalther65 commented on #2412
Was solved without any chnages in my repo by using the new CLI and/or Terraform module!

[2022-02-11 12:22] #2412 closed

[2022-02-11 14:24] stefanprodan opened #2424 "`flux logs` decoding issue"
### Describe the bug

We use `''` to mark object IDs in logs, but `flux logs` does not decode these characters.

[code]

Instead of `&#39;7.x&#39;` it should print `'7.x'`.

### Steps to reproduce

- set a HelmRelease chart version to a non exiting one
- set a HelmRepository URL to a non exiting one
- run `flux logs --level error`

### Expected behavior

The output should be decoded before writing

[2022-02-12 13:40] #2411 closed

[2022-02-13 20:57] Y0ngg4n commented on #1878
`flux suspend` and `resume` does not work for me :(

[2022-02-13 21:56] onedr0p commented on #1878
I've run into situations where `helm uninstall ...` or `flux delete hr ...` was the only way to resolve this issue as well. Next time it happens I'll try to have more information. Seems like Flux gets stuck on trying to install or upgrade and only a fresh install of the helm release.

[2022-02-14 10:32] #1669 closed

[2022-02-14 13:16] dwilliams782 opened #2435 "Invalid value: "null": spec.podDisruptionBudget in body must be of type object: "null""
### Describe the bug

We have a manifest that is failing after a Flux v2 upgrade:

[code]

The error message is:

[code]

The value for `podDisruptionBudget` is clearly an empty object, rather than null. I'm not sure why this is happening, we've seen this in a few places and have to remove the empty objects from the manifests to remove the error.

### Steps to reproduce

Apply a manifest with an e

[2022-02-14 15:40] BobWieberdink opened #2436 "Kustomize error after cluster rebuild"
### Describe the bug

	Flux Bootstrap fails when running in rebuilt cluster. After having rebuilt cluster with a running instance of Flux2
	we are seeing errors when running the bootstrap routine on the newly rebuilt cluster:
	► connecting to github.com
	✔ repository "https://github.com/<redacted>/<redacted>" reconciled
	► cloning branch "<redacted>" from Git repository "https://github.com/<redact

[2022-02-14 15:41] stefanprodan commented on #2436
Duplicate of: https://github.com/fluxcd/flux2/issues/2351

PS. This bug was fixed in 0.26.3

[2022-02-14 15:41] #2436 closed

[2022-02-14 18:46] alphabet5 opened #2438 "GitRepository source with "." assumes an incorrect path."
### Describe the bug

Flux takes the last item in a source with '.' and assumes the GitRepository path is the item after the last dot.

### Steps to reproduce

1. Create source with "." in the name.
[code]

2. Create kustomization from the source.
[code]

### Expected behavior

Source repo to be found.

### Screenshots and recordings

_No response_

### OS / Distro

N/A

### Flux version

v0.26.3

[2022-02-15 07:30] #2424 closed

[2022-02-15 08:59] makkes commented on #2438
That's kind of working as expected. From `flux create ks -h`:
[code]
There's two workarounds I can come up with off the top of my head:

1. Patch the resources after creation:
[code]
2. Replace the dots in the GitRepository name by another separator.

[2022-02-15 09:12] stefanprodan commented on #2438
I think we should ban dot-separated object names.

[2022-02-15 09:20] hiddeco commented on #2438
In combination with upstream standards, there are 3 options to pick from if we would do this: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[2022-02-15 09:27] stefanprodan commented on #2438
@hiddeco I would go with "RFC 1123 Label Names" as we use the Flux Kustomization and HelmRelease name to label objects in cluster.

[2022-02-15 09:33] stefanprodan commented on #2438
@alphabet5 using dots in the Flux custom resource name will make Flux stop working, we use the custom resource name to label the objects reconciled from Git. As suggested by @makkes you should replace `.` with `-`.

[2022-02-15 09:35] stefanprodan commented on #2438
@SomtochiAma could you please write a validation for "RFC 1123 Label Names" and apply it to all `flux create` commands so that users don't end up creating invalid resources?

[2022-02-15 10:24] monotek commented on #2386
We have the same problem with a lot of kustomizations and immutable CluserIP, volumname and stroageclasse fields, updating from kustomize controller 0.14.1 to 0.22.2.

[code]

Removing the ClusterIP from the managed fields via patch helps though.

[code]

[2022-02-15 10:31] #2438 closed

[2022-02-15 10:48] ludovicm67 commented on #2386
I was facing the same issue.

Using the following commands was helpful for me:

[code]

[2022-02-15 14:37] #2435 closed

[2022-02-16 10:35] Alan01252 commented on #2074
We've just experienced the same issue, no changes to the RBAC for the cluster, ab=nd none of the helmreleases define a service account name. Very strange.

[2022-02-16 10:56] Alan01252 commented on #2074
I'm not sure if this is cause/correlation but someone with some more experience might enlighten me. I restarted the helm controller as suggested by others here, and then we noticed that the certificate for our multus daemonset in our EKS cluster had expired preventing the controller from spinning up again.

Restarting the multus daemon set, regenerated the certs, the helm controller span back up,

[2022-02-16 13:05] pjbgf commented on #2002
The initial fuzzing coverage as requested by the audit is now done and fully integrated with the upstream oss-fuzz project.

Several improvements around this are in the backlog, including the migration to the fuzzing support natively supported by go 1.18, and the extension of coverage to other parts of the code base. Both of which will be tracked separately to this as they outlive the scope of the

[2022-02-16 13:06] #2002 closed, assigned to pjbgf

[2022-02-16 14:49] monotek commented on #2386
If you want to see the actual problematic fields you have to add "--show-managed-fields" to your kubectl command.

See my post above for a workaround: https://github.com/fluxcd/flux2/issues/2386#issuecomment-1040102499

[code]

[2022-02-16 15:20] SStorm commented on #2386
Thank you! I did not know that managed fields are no longer shown by default, assumed it was a different issue. Problem solved.

[2022-02-16 16:39] stefanprodan commented on #2386
I think those that upgraded to v0.26.0 or v0.26.1 or v0.26.2 will have this issue. In v0.26.3 we found a better way to take over the fields managed by kubectl. We'll need to point people that upgraded to v0.26.0-2 to this issue, as patching the `managedFields` to remove the immutable ones is the only way to fix this.

[2022-02-16 21:52] davidkarlsen commented on #2014
after this change I see:

[code]

If I drop the seccomp profile it will schedule just fine.

openshift 4.9.x
[code]

[2022-02-17 06:48] stefanprodan commented on #2014
@davidkarlsen see here the OpenShift docs: https://fluxcd.io/docs/use-cases/openshift/#security-context-constraints

[2022-02-17 08:05] stefanprodan commented on #2385
We are changing the status message for Flux GitRepository objects, in the next version, source-controller will include the commit message making the output even lengthier. Moving the status message to the last column would improve the readability.

[2022-02-17 12:32] joerg-walter-de opened #2447 "flux with a ImageRepository cannot list image tags in gitlab repository"
### Describe the bug

I have a image repository linking to a self-managed gitlab-Server.

I have bootstrapped flux with `--components-extra=image-reflector-controller,image-automation-controller`.

I have a deployment with an image name in it that refers to an existing image on the gitlab server.

When I set a new image and commit new pods are successfully started based on that image.

But `flux g

[2022-02-17 12:35] joerg-walter-de commented on #2447
Polish

[2022-02-17 13:00] kingdonb commented on #2447
Can you provide some details about your `ImageRepository` resource and how you created it? (What is the full YAML manifest definition, does it contain a `secretRef`?)

Many times authentication errors masquerade as "not found" because they consider the existence of the target resource a secret covered by the authentication, and revealing the existence makes it easier for attackers to target known

[2022-02-17 13:12] mibollma opened #2449 "Flux changes executable mode of bash scripts"
### Describe the bug

My repository contains bash scripts that are executed locally as well as within the build pipeline.
Since I'm developing on Windows I need to make those scripts executable to run on Github Actions using **git update-index --chmod=+x ./bin/*.sh**.

It seems when flux makes it's bootstrap commit it also removes the executable mode from all bash scripts.

### Steps to reproduce

[2022-02-17 16:41] oliverbaehler commented on #2014
Encountering:

[code]

Link for https://fluxcd.io/docs/installation/#pod-security-policy seems dead?

[2022-02-17 18:54] kingdonb commented on #2400
We've just come across this at the Flux Bug Scrub and we're in agreement this would be a useful feature!

[2022-02-17 19:30] stefanprodan commented on #2014
@oliverbaehler here is the new link https://fluxcd.io/docs/security/#pod-security-standard

You can remove the seccomp profile with a patch in `flux-system/kustomization.yaml`:

[code]

[2022-02-19 19:14] anthr76 opened #2453 "Grafana dashboards should support the `cluster` variable"
### Describe the bug

The grafana dashboard's don't work for prometheus's/grafana's setup for multi-cluster.

### Steps to reproduce

[code]

### Expected behavior

A cluster selector for dashboards

### Screenshots and recordings

![image](https://user-images.githubusercontent.com/25143877/154815472-6c626b66-47ab-46af-8f86-1e60ddcf40c7.png)

![image](https://user-images.githubusercontent.com/2514

[2022-02-20 09:21] jack-evans commented on #2421
If you wish to move objects from 1 kustomization to another, create your new kustomization, suspend the old one so it no longer reconciles. You should then be able to move over the kubernetes objects from the suspended kustomization to the new kustomization without any downtime as the new kustomization will take ownership of those resources.

[2022-02-20 23:48] waltdizzy opened #2454 "Image scanner for private repository returns 400 bad request on DigitalOcean"
### Describe the bug

Hello. I am following the guide [Automate image updates to Git](https://fluxcd.io/docs/guides/image-update/). I receive 400 Bad Request whenever trying to image scan my private DigitalOcean container registry.

### Steps to reproduce

Follow the guides and setup the following YAML:

[code]
Download a docker-config.json from Digital Ocean and run

[code]
Verify the secret is t

[2022-02-21 10:26] #2379 closed

[2022-02-21 15:36] pjbgf opened #2455 "Least Privileged RBAC ClusterRoles for controllers"
Context:
- Flux creates a generic [cluster-reconciler](https://github.com/fluxcd/flux2/blob/main/manifests/rbac/controller.yaml) `ClusterRole` that is used across all controllers.
- The scope of some of the verbs and resources are set to `*` (a.k.a. all objects).
- Access to `configMap` and `secret` objects are granted at cluster-level to all controllers.

The points above make it difficult for us

[2022-02-21 16:08] IvanKuchin opened #2456 "Two PVC-s bound to the same PV"
### Describe the bug

Hello team,

Reconciliation process creates new pod before deleting old one. In case of pod has pvc in volume-section that ordering creates double claim to the same pv.
IMO order of operations should be
1) remove old pod
2) create new one

### Steps to reproduce

Easiest way to reproduce is to follow "[Automate image updates to Git](https://fluxcd.io/docs/guides/image-update/

[2022-02-22 08:44] stefanprodan commented on #2456
It's not Flux that managed pods, but Kubernetes deployment and replicaset controllers. PVC should be used with Statefulsets, Kubernetes knows how to handle the rolling upgrade accordingly. If you want to use PVC with Kubernetes Deployments, then set the strategy to replace, this will delete the old pod before creating the new one.

[2022-02-23 03:21] TOHUHM commented on #2378
@ANKAMBLE
I met the same issue as you, May I know how to revert the upgrade? as we use template to deploy kustomization resource, now our template is still using v1beta1, so I have to rollback, thanks a log!

[2022-02-23 07:09] stefanprodan commented on #2378
Flux 0.27.0 was published on [OperatorHub](https://operatorhub.io/operator/flux) with the right setting. If your using `flux bootstrap`, here is the updated configuration for OpenShift: https://fluxcd.io/docs/use-cases/openshift/#flux-installation-with-cli

[2022-02-23 13:57] IvanKuchin commented on #2456
Thank you Stefan. Sorry that I didn't do enough exploration before opening the issue.

[2022-02-23 16:37] jprecuch opened #2463 "FluxCD v2 externalSourceRef valuesFrom"
### Describe the bug

We're testing the latest v2 FluxCD with our setup and we need to deploy our helmchart with external values files.
In legacy flux there was option externalSourceRef  https://fluxcd.io/legacy/helm-operator/helmrelease-guide/values/
However under v2 it is not visible and allowed flag anymore.
[code]
Is there some replacement we can use or there is no way how to specify values.ya

[2022-02-23 16:39] hiddeco commented on #2463
See https://fluxcd.io/docs/migration/helm-operator-migration/#values-from-external-source-references-urls-are-no-longer-supported, which also refers to a workaround.

[2022-02-23 16:42] #2463 closed

[2022-02-24 01:52] IvanKuchin commented on #2456
Hello Stefan,

Sorry for bugging you again and re-opening issue.
I did lots of testing and you are right that order of operation can be influenced by `Deployment.spec.strategy.type==RollingUpdate`  or `Recreate`. But it doesn't change success or failure of deployment.
I'll try to keep this post short with description only. Please let me know if you want to look at actual outputs.

In spite of depl

[2022-02-24 15:18] mchlumsky commented on #2330
@robertpcontreras-ts  I think you might want to open this issue against this repository as well: https://github.com/fluxcd/helm-controller . Looks like the code that handles HelmReleases lives in there.

I am also seeing this bug.

[code]

[2022-02-24 17:45] fsequeira1 commented on #1024
@kingdonb I think we can close this one for now and if the changes on  https://github.com/fluxcd/notification-controller/pull/322 aren't enough @jlewi can open another issue and I will revisit it. What do you think?

[2022-02-24 18:32] eloo opened #2472 "Flux diff not working for roles with aggregationRule"
### Describe the bug

It seems that flux diff is not working properly when a (cluster)role has an aggregationRule.

It seems that the aggregation is ignored and thus the diff shows a lot removed rules which should be applied by the aggregations.

### Steps to reproduce

Create role like this:

[code]

Run flux diff afterwards

Output of diff:
[code]

### Expected behavior

I would expected that th

[2022-02-24 21:35] Legion2 commented on #1024
Can someone add an example how to configure grafana and alerts to see the commits in grafana. I created an alert but can't see anything in grafana.

[2022-02-25 02:20] Tzrlk opened #2473 "Add Bucket source to ImageUpdateAutomation functionality."
Currently, the only valid option in `ImageUpdateAutomation` for `spec.sourceRef.kind` is `GitRepository`. Since AWS S3 buckets are supported as a config source, it follows that they should be able to participate in image reflection as well.

[2022-02-25 02:49] Tzrlk opened #2474 "Implement Patches update strategy for ImageUpdateAutomation resource"
Since comments may not necessarily be preserved in some image pipelines, and keeping necessary configuration in comments is generally considered to be a bad code smell, `Patches` should be added to the list of available options when setting `spec.update.strategy` on ` ImageUpdateAutomation` resources, and a field added to contain the list of parameterised patches needed to update the relevant fiel

[2022-02-25 11:33] waltdizzy opened #2476 "HelmRelease failing with "Service does not have load balancer ingress IP address""
### Describe the bug

HelmRelease fails to deploy when using DigitalOcean.

### Steps to reproduce

1. Setup a managed Kubernetes cluster on DigitalOcean
2. Utilize the following YAML:

[code]

3. `kubectl describe helmrelease ingress-nginx2 -n flux-system`

### Expected behavior

The values.controller.publishService.enabled should publish the IP address and the load balancer should be deployed.

[2022-02-25 13:29] stefanprodan commented on #2476
I don't see how this is a Flux bug, if you use `helm install --wait` does it work?

[2022-02-25 13:31] stefanprodan commented on #1024
@Legion2 see:
- https://fluxcd.io/docs/guides/monitoring/#annotations
- https://fluxcd.io/docs/components/notification/provider/#grafana

[2022-02-25 14:05] stefanprodan commented on #2472
Can you please try this with `kubectl diff --server-side`? I suspect this is a bug in Kubernetes server-side apply dry-run, we don't do anything special with RBAC, we send it to the API and show the diff output.

[2022-02-25 14:17] Legion2 commented on #1024
I created the Grafana Provider. But I think I also have to create an Alert, but this is not shown in the documentation.

[2022-02-25 14:47] eloo commented on #2472
@stefanprodan
I'm not familiar with the kubectl diff and which options to use but here is some input:

 kubectl diff --server-side -k . --force-conflicts=true
 -> i see the same deletes of rules like i do for flux diff

  kubectl diff --server-side -k .
[code]

  kubectl diff -k .
   -> i see the same deletes of rules like i do for flux diff

i hope that helps?

kubectl version --client=true
[code

[2022-02-25 17:31] waltdizzy commented on #2476
It may not be. I am learning Flux/GitOps/Kubes and can find it difficult to know where the boundaries are between these integrations. The command `helm install nginx-ingress ingress-nginx/ingress-nginx --set controller.publishService.enabled=true` works just fine. I have tried ingress-nginx and ingress-nginx/ingress-nginx for the YAML HelmRelease.

[2022-02-25 20:01] alex-berger commented on #2386
Same Problem here with flux `v0.24.1` and Kubernetes `v1.21.5`. I have a `PersistentVolumeClaim`, which was created by FluxCD `v0.24.1` on that very cluster some hours before and that looks like this:

[code]
And now I get the following error upon reconcile of the corresponding HelmRelease:

[code]

[2022-02-25 21:16] kingdonb commented on #2476
@waltdizzy Flux's helm controller installs with the `wait` behavior, which is not enabled in Helm by default. If you add the `--wait` flag to command you tried, you will see it fails the same way.

If you need to reproduce the default behavior of Helm, you can disable waiting with `disableWait: true` in the spec. Flux waits by default because a Helm release that is installed and fails to become re

[2022-02-25 21:16] #2476 closed

[2022-02-27 12:36] waltdizzy opened #2477 "ImageRepository producing 400 bad request with A(MISSING) when using a private registry"
Hello, I created an issue for this last week but felt I could do a better job explaining why I think this is a bug. I closed that issue and I am trying again.

### Describe the bug

A verified secret that works against a private registry with deployments does not work with ImageRepository and ImagePolicy. Describing the ImageRepository shows a 400 bad request with MISSING tokens (see last line). I

[2022-02-27 12:36] #2454 closed

[2022-02-27 15:39] kingdonb commented on #2477
I got the same errors when I tried testing this, I think we both held it wrong:

[code]

I have a registry created called `testrepo-podinfo` important to note here that this is a registry, which is the parent container for repositories. It is **not** a repository, which you can push image tags directly on. You must push tags to repositories underneath it.

[code]

but then:

[code]

Make sure you

[2022-02-27 15:50] waltdizzy commented on #2477
This was the problem! Here is my updated manifest if anybody should find this later by searching:

[code]
Notice that spec.image now has three layers of depth. wdr-web was the repository, walts-fav-registry was the registry. Thank you so much, I'll star this project on GH!

[2022-02-27 15:50] #2477 closed

[2022-02-28 10:58] beandrad commented on #2019
@cocampbe have you found a solution to this issue? I think we're facing a similar problem in our k3s cluster.

[2022-02-28 13:34] #2385 closed

[2022-02-28 20:17] mhsh64 commented on #2386
@stefanprodan

Hi

We have same issue we are using latest version

We are using “v0.27.2"

K8s version 1.21.1

Can you advise please?

`flux-system   xxx            False   Service/xxx/xxx-manager-metrics-service dry-run failed, reason: Invalid, error: Service "xxx-manager-metrics-service" is invalid: [spec.clusterIPs[0]: Invalid value: []string(nil): primary clusterIP can not be unset, spec.ipFam

[2022-03-01 00:56] iheng opened #2479 "force:true is not working"
### Describe the bug

adding force:true to Kustomize would not able to recreate job.

### Steps to reproduce

1. add force:true to your Kustomize file
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: flux-system
  namespace: flux2-system
spec:
  interval: 2m0s
  ref:
    branch: master
  secretRef:
    name: flux-system
  url: *****
---
apiVersion: kustomize.toolk

[2022-03-01 04:50] kingdonb commented on #2386
This issue appears to be extant when clusters are being upgraded from a version of Kubernetes before v1.18, or thereabouts, when Server-Side Apply and managedFields became GA. I saw an almost identical report yesterday, I can't find it just now...

If your services are created before K8s v1.18, then the cluster adds `clusterIP` to `spec` when the service is created, and they are created as though

[2022-03-01 04:57] kingdonb commented on #2479
Please try to reproduce this issue on the latest version of Flux. There have been major changes between Flux v0.21.x and Flux v0.27.x, the current version is Flux v0.27.2.

A server-side apply overhaul has been completed. Much of the relevant code has likely been replaced. It is possible there was a bug and that it has already been fixed, in the latest version. I can't say for sure, but if an upgr

[2022-03-01 06:10] mhsh64 commented on #2386
@kingdonb thanks for details

I don't recall when we had 1.18 but it is long time back

Our clusters running in 1.21 version for a while, and I am wondering if there is no other fix in flux itself to cover this scenario!?

[2022-03-01 06:19] mhsh64 commented on #2386
But I am also wondering why there was no issue in our previous flux version?

[2022-03-01 07:51] stefanprodan commented on #2386
To avoid deleting the Service, a patch can be used to remove the ClusterIP from the managed fields:

`kubectl patch svc my-svc --type=json -p='[{"op": "remove", "path": "/metadata/managedFields/0/fieldsV1/f:spec/f:clusterIP"}]' `

Note that the index must match the kustomize-controller manager, the example above is for index 0.

[2022-03-01 10:46] jackie82422 opened #2480 "Could not connect AWS CodeCommit by use account/password"
### Describe the bug

I follow articles below:
https://fluxcd.io/docs/use-cases/aws-codecommit/

in the step:
[code]

get error following:
✚ generating GitRepository source
► applying secret with repository credentials
✔ authentication configured
► applying GitRepository source
✔ GitRepository source created
◎ waiting for GitRepository source reconciliation
✗ context deadline exceeded

And I have

[2022-03-01 16:38] tshak commented on #2386
I believe that I've reproduced this issue when migrating from Fluxv1->Fluxv2. A Knative Serving resource manages all annotations. Its validating webhook prevents modification of these annotations. When applying with Fluxv2 I get the following error:

Note that `metadata.annotations` is a managed field owned by Knative Serving. Is it fair to assume that `v0.26.3` will fix this issue without a worka

[2022-03-01 20:19] neoakris commented on #1414
I forgot about Jarrett's post above, and just kind of retried as it'd been a while and flux had received lots of updates.

**Mini status update since it's been ~10 months:**
latest versions still result in (almost) the exact same original error.
Mac gpg version 2.3.4
sops 3.7.1
flux 0.27.2

[code]

Also Mozilla's been having funding issues so the issue in the sops project is unlikely to get attent

[2022-03-01 20:19] #1414 closed

[2022-03-02 03:58] iheng commented on #2479
@kingdonb  I checked my kustomize-controller docker image version is  ghcr.io/fluxcd/kustomize-controller:v0.18.0. Do you know if I just update the kustomize-controller version to latest version, will it fix the issue or I still need to update my flux cli version.

[2022-03-02 09:58] jackie82422 commented on #2480
Sorry, I found my pods of pod/kustomize-controller is down.
Because AWS t2.Micro only has 2 Network Interfaces and 2 IPv4 addresses.
Too many pods on my eks cluster.

[2022-03-02 09:58] #2480 closed

[2022-03-02 10:57] stefanprodan commented on #2479
Flux recreates jobs only when you change immutable fields, e.g. the container image tag.

[2022-03-02 17:15] mibollma opened #2486 "Custom namespace can't be deleted"
### Describe the bug

I tried to move flux from **flux-system** to a custom namespace called **infra**. Everything works as expected, flux itself, flagger, all helm charts. However, when I try to delete the cluster terraform times out with **[ERROR] vertex "kubernetes_namespace.infra_namespace (destroy)" error: context deadline exceeded**.
When not moving flux to the custom namespace, everything c

[2022-03-02 17:19] tshak commented on #2386
I'm still reproducing my issue with `v0.27.3`. I misread the previous comment about fixes being in `0.26.3`, not `0.27.3`. This is a Fluxv1->Fluxv2 migration blocker for us. It's not clear to me why the patch would mutate existing annotations as 1) our resource in git contains no annotations and 2) annotations are managed by another controller as specified in `managedFields`.

[2022-03-02 19:09] tshak commented on #2386
I've tested using `flux build kustomization... | kubectl apply -f -` and I can apply the manifest without any issues. This leads me to believe that the issue is with how the kustomize controller is applying the manifests.

[2022-03-02 20:02] kingdonb commented on #2386
If knative updates annotations in resources that Flux applies, then what do you see in `managedFields` before Flux overwrites it?

[code]

@tshak the problem is likely that Flux doesn't allow arbitrary writes from arbitrary writers to persist, that is considered drift and then reverted. This is new behavior https://fluxcd.io/docs/faq/#why-are-kubectl-edits-rolled-back-by-flux

It was required to m

[2022-03-03 10:10] tshak commented on #2386
Thank you for the detailed explanation.  Here is an example Knative Service (`status` is redacted for brevity) that is failing to apply:

[code]

[2022-03-03 10:20] tshak commented on #2386
I was able to successfully perform a server side apply ut it required `--force-conflict` due to the managed field `.spec.template.spec.containers`. This is expected as knative manages this field (although I'm not sure why). When I set `force: true` for the `Kustomization` resource I still see the annotation error:

[code]

Interestingly, a `flux diff...` using the exact same arguments fails with t

[2022-03-03 10:24] stefanprodan commented on #2386
@tshak try to remove the annotations with `kubectl -n demo patch service emojivoto --type=json -p='[{"op": "remove", "path": "/metadata/managedFields/0/fieldsV1/f:metadata/f:annotations"}]'`

[2022-03-03 10:51] tshak commented on #2386
After patching the resource I can still repro the issue. I don't believe that the root cause is due to managed fields or server-side apply behaviour. Here is a recap of what I've tried (all `apply` commands are using `--server-side`):

0) `kubectl apply...` the standalone yaml from the git repo that contains only the offending resource (emojivoto knative service) ✅
0) `flux build... | kubectl appl

[2022-03-03 12:02] stefanprodan commented on #2486
Using Terraform to uninstall Flux is not supported, Terraform has no clue about how Kubernetes works so it tries to delete all things at once resulting in stuck finalizers. You need to run `flux uninstall -n <your-namespace>`, the CLI will delete the CRDs and finalizers is the correct order.

[2022-03-03 12:02] #2486 closed

[2022-03-03 12:07] mibollma commented on #2486
Thanks for the explanation 👍

[2022-03-03 13:49] tshak commented on #2386
I have confirmed that `f:annotations: {}` is no longer present in the offending resource. However, the error persists.

[2022-03-03 13:59] stefanprodan commented on #2386
So if you do `kubectl apply --server-side` does it fail the same?

[2022-03-03 14:03] tshak commented on #2386
In this case it fails but as expected:

[code]

It passes by adding `--force-conflicts`.

[2022-03-03 14:07] stefanprodan commented on #2386
I see in the annotations "serving.knative.dev/creator: system:serviceaccount:flux:flux" but there is no such service account in cluster. Have you changed the SA?

[2022-03-03 14:10] stefanprodan commented on #2386
@tshak there is nothing we can do in Flux about this, if Knative decided to make annotations immutable then you can't reconcile this with anything else but the flux SA. I have no clue why would Knative so such a crazy thing...

[2022-03-03 14:13] tshak commented on #2386
I think that it's just these specific knative annotations that are immutable. And again, even a `flux build... | kubectl apply --server-side...` works.

[2022-03-03 14:15] stefanprodan commented on #2386
Using kubectl work because there is no SA, but when you apply things from inside the cluster Knative whats the flux SA. I see no way around this but to delete the service and then it will be created by the kustomize-controller SA.

[2022-03-03 15:11] tshak commented on #2386
There was an error on my end. The managedFields patch did in fact work. The error I was getting was pointing to a similarly named emojivoto service. This means that we'll need to patch all knative services prior to upgrading to Flux v2. Thank you for taking the time to help me debug this issue. 🙏

[2022-03-03 18:36] kingdonb commented on #2419
Are you using k3s or have you tried disabling network policies when you bootstrap?

I am not certain but it looks like an issue related to networking. If you have issues reaching GitHub but only from within the flux-system namespace, then it is probably a problem with the NetworkPolicy resources there.

You can bootstrap Flux with `--network-policy=false` in order to remove them at install time. (

[2022-03-03 18:37] kingdonb commented on #2419
Actually not sure about the meaning of this error:

[code]

Can you elaborate? Where did you see this error

[2022-03-03 18:48] pjbgf opened #2496 "Flux SBOM yield invalid format when using Grype"
When trying to check flux's SBOM for vulnerabilities using `grype`, users may experience:
[code]

[2022-03-03 18:52] pjbgf commented on #2496
The error can be bypassed by removing the field `files` before sending it to `grype`:
[code]

Closing this after filing an issue upstream: https://github.com/anchore/grype/issues/655

[2022-03-03 18:52] #2496 closed

[2022-03-04 03:20] cheruvu1 commented on #2419
Thank you for your time.  Can you please show steps how can I "You can bootstrap Flux with --network-policy=false” ?.  If you have any article as a reference, do share with me please, I will read and make necessary changes.

Thank you

[2022-03-04 09:51] stefanprodan commented on #2455
We can't autogenerate RBAC for secrets/configmap, this would break Flux the moment you add a new namespace. I'm going to mark as this blocked as it needs a proper RFC.

[2022-03-04 10:27] pjbgf commented on #2455
@stefanprodan good point. I have changed the scope of the issue so that we can tackle the low hanging fruit items and create the RFC you suggested. Happy for us to go ahead or do you have any other concerns?

[2022-03-04 10:32] gvfnix commented on #2112
Maybe [this note](https://github.com/gvfnix/gitops-notes/tree/main/terraform-fluxcd) can help. It describes bootstrapping on the repository with `main` branch protected.

[2022-03-04 10:57] stefanprodan commented on #2455
I'm not for making as many ClusterRoles as controllers, we have a single ClusterRole now to make it easy for users to understand what Flux needs.

How did you arrived at this conclusion, which users don't understand https://fluxcd.io/docs/security/#controller-permissions ? I see no issues on GitHub, no one reported this on Slack.

[2022-03-04 14:26] theartusz opened #2501 "ImageUpdateAutomation dry-run failed, error: failed to create typed pa tch object: .spec.sourceRef.namespace: field not declared in schema"
### Describe the bug

After updating flux from v0.17.1 to v0.27.3 we experience error during reconciliation.
The error message states `ImageUpdateAutomation/sre-selfservice-prod/sre-aks-gitops-prod dry-run failed, error: failed to create typed patch object: .spec.sourceRef.namespace: field not declared in schema`.
However if I run `kubectl apply -f imageupdateautomation.yaml` manually the manifest

[2022-03-04 15:25] kingdonb commented on #2419
@cheruvu1

https://fluxcd.io/docs/cmd/flux_bootstrap/

It is the same as a regular bootstrap, but with `--network-policy=false`

Be aware that running bootstrap normally creates three objects of resource kind `NetworkPolicy` in the `flux-system` namespace. When bootstrap is run with `--network-policy=false` they are not created, but also be aware that pruning might not be enabled, so you might hav

[2022-03-04 15:56] neoakris commented on #1414
gpg 2.3.x keygen workaround is documented here:
https://github.com/mozilla/sops/issues/896#issuecomment-1059263577

[2022-03-05 05:03] RyzeNGrind opened #2503 "`flux check --pre` fails | Kubernetes API call failed connection refused - arm64 RPI4"
### Describe the bug

Installed flux as per instructions
`curl -s https://fluxcd.io/install.sh | sudo bash`

Ran flux check for prerequisites
`flux check --pre`

### Steps to reproduce

1. Install flux as per guide and described above.
2. Run flux pre-req check.

### Expected behavior

**Flux is supposed to check and pass all prerequisites before bootstrapping the cluster and using Git as Infrastr

[2022-03-05 11:26] chuegel commented on #2059
Any idea how to fix this?

[2022-03-05 16:42] kingdonb commented on #2501
Hi! Thanks for the report and sorry for the trouble.

Can you provide more detail including the manifests that errored out, in the form of an example that has as much detail as possible to make sure that we can run it, and try to use to reproduce your issue?

[2022-03-05 22:59] mibollma commented on #2486
I ended up adding this to the namespace in my terraform configuration... works fine so far
[code]

[2022-03-06 00:02] nickperkins commented on #2059
This is a helm issue, not a flux issue. The error message provided by helm tells you what you need to do.

Specifically, you need to manually add the missing labels and annotations to the resources that already exist. Helm will then be able to manage that resource moving forward.

[2022-03-06 00:47] kingdonb commented on #2503
In the article you linked, it is mentioned that there is a bug in HA mode. If you have joined multiple masters to the cluster, are you running HA mode?

[2022-03-06 03:44] RyzeNGrind commented on #2503
Yes I tried that as well and it seems to be the same outcome.

[code]

[2022-03-06 10:13] AndersRunningen commented on #2501
Hi,
For reference, I am working on the same project as @theartusz :)

The manifest we are trying to apply with flux is:
[code]
For **GitProvider**, we are using GitHub.
For **Container registry provider**, we are using Azure Container Registry.

[2022-03-06 10:57] stefanprodan commented on #2501
Looks like the CRDs were not updated on your cluster, sourceRef.namespace was added in https://github.com/fluxcd/image-automation-controller/blob/main/CHANGELOG.md#0200

[2022-03-06 11:02] #2059 closed

[2022-03-06 13:48] chuegel commented on #2059
yes, thanks. I was able to locate all resources which needed the specific annotation/label

[2022-03-06 15:19] kingdonb commented on #2503
[code]

This error indicates the kubernetes API server is detected as a "localhost" address, which will not be reachable by Flux from inside of the cluster. If `flux check --pre` errors out like this, it means that KUBECONFIG is not set. Do you have a kubeconfig file and can you pass it to Flux?

If you bootstrap Flux with a kubeconfig that says localhost in it, I don't know what will be the resul

[2022-03-06 15:45] youwalther65 opened #2508 "Fluxv2 boot strap context deadline exceeded"
### Describe the bug

flux boot strapping does not work anymore. I haven't changed the fluxv2 repo. Using the 0.11.2 Terraform Fluxv2 provider I got the same error but for debugging purposes I show the flux CLI commands here.
The only thing which changed was that I know use "containerd" as cluster runtime for my EKS 1.21 cluster. Not sure if this is somehow related.

### Steps to reproduce

I upgr

[2022-03-06 22:02] RyzeNGrind commented on #2503
It worked thank you. 🙏🏽

[2022-03-06 22:03] #2503 closed

[2022-03-07 02:28] Ruoyu-y opened #2509 "Flux bootstrap failed to create source secret for repo that need to get accessed thru proxy"
### Describe the bug

On my machine, i need to access github thru proxy, envs such as 'http_proxy', 'https_proxy', 'HTTP_PROXY', 'HTTPS_PROXY' are all set. Flux is able to connect to github thru the proxy, but while generating source secret with ssh, the proxy settings don't work. Notice that the ssh config under ~/.ssh/ is set too.

Output looks like this:

flux bootstrap github --owner=Ruoyu-y -

[2022-03-07 08:47] theartusz commented on #2501
Hi guys! thanks for looking into this!
We spin up new fresh cluster and install flux v2 vith terraform provider **(v0.11.2)**.
When I describe container for `image-automation-controller` I can see it is running on image **v0.20.1**.
[code]
Also when checking the **CRD** for `imageupdateautomations.image.toolkit.fluxcd.io` in the cluster I can see the field `sourceRef.namespace` is present - which

[2022-03-07 09:58] pjbgf commented on #2455
Unfortunately, from a security standpoint users expect projects to be secure by default and to follow the least privilege principle. However, it is very difficult for users to do a deep security assessment on every single open source project they depend on to confirm and potentially raise issues to that effect.

The motivation for the above is to attain a reduced attack surface. At present, and in

[2022-03-08 15:43] PierreBart opened #2514 "Flux Kustomization reconciliation causes deployment rollout"
### Describe the bug

I recently migrated my K8S manifests from Flux v1 to v2 and stumbled across an issue with my deployments rolling out completely during the Flux v2 first Kustomization reconciliation.

There are no diffs between the manifests of Flux v1 and v2 except:
- Flux v1 annotations and labels: `fluxcd.io/sync-checksum` and `fluxcd.io/sync-gc-mark`
- `managedFields` to be taken over by

[2022-03-08 15:47] stefanprodan commented on #2514
You need to remove `replicas: 3` from your Deployment as it conflicts with HPA, every time Flux does a reconciliation overrides it.

[2022-03-08 15:59] vespian opened #2515 "Flux should override ownership of fields in case of the conflict for SSAed object."
### Describe the bug

Flux sometimes needs to "adopt" objects - i.e start managing objects that were already defined in APIserver, after user defines them in the gitrepo. In case when such objects were created using Server Side Apply and field manager is set, Flux will not override  such objects and instead will just set labels on it.

This may cause confusion in some cases as the object is not be

[2022-03-08 16:14] PierreBart commented on #2514
The YAMLs to apply from the first step are not reconciled by anything, they are here to simulate a Flux v1 situation of reconciliation. I have tried the procedure removing the `replicas` attribute from the Deployment of the first step and the behavior is the same.

Also the Deployment in step 2, which is reconciled by Flux v2, does not contain the `replicas` attribute.

Here is the output of the c

[2022-03-08 16:23] stefanprodan commented on #2514
I see `deployment.kubernetes.io/revision: "1"` so Flux does not change the deployment. After the replicas set reaches the desired state, if you run `flux reconcile` does the deployment keeps restarting? I'm also running dozen of podinfo deployment in my test cluster and I don't see this behaviour. Maybe look at the HPA events and replicaset ones.

[2022-03-08 16:25] stefanprodan commented on #2514
Ah `creationTimestamp: null`, readonly fields shouldn't be set in Git, this may be the issue https://fluxcd.io/docs/faq/#how-do-i-resolve-someresource-configured-events-spam

[2022-03-08 16:53] PierreBart commented on #2514
I tried the procedure removing the `creationTimestamp: null` from the first step and I still see the same behavior.

The attribute `creationTimestamp: null` is not present in Git either.

After the replicas set reaches the desired state, and I run `flux resume` the deployment's pods scaledown to 1 and then scale up to 3 in a matter of seconds.

 Here are some events after running the `flux resume`

[2022-03-09 12:09] sebnyberg opened #2516 "Make it easier to find flux install --components-extra names"
### Describe the bug

I was doing an upgrade, and found it difficult to figure out the names of extra components that I wanted to provide to `flux install --components-extra`.

### Steps to reproduce

Run `flux install --help`.

### Expected behavior

I was expecting the extra component names to be enumerated in `--help`, or in the [flux install CLI reference](https://fluxcd.io/docs/cmd/flux_insta

[2022-03-09 14:00] kingdonb commented on #2508
We've had reports recently like this where it turned out to be a change in the network. The best way to debug this issue is to try creating pods in the cluster (use something like `alpine` or `debian` base, where you can install a git client) and try cloning a git repo from anywhere inside of the cluster.

[code]

For best coverage, try creating the pod inside of the flux-system repo, and also try

[2022-03-10 03:07] RyzeNGrind commented on #2508
I'm having the same issue, but I am self hosted on Raspberry Pi ARM64 nodes. I will make a new issue regarding it, but wanted to mention it here as it seems to be a wide issue affecting multiple users and devices.

[2022-03-10 03:29] RyzeNGrind opened #2518 "fluxv2 bootstrap not completing | context deadline exceeded arm64"
### Describe the bug

Flux context deadline keeps exceeding every time I try bootstrapping.

### Steps to reproduce

1. Install flux
2. Bootstrap gitlab controller

### Expected behavior

Expected behavior was flux would bootstrap github controller properly and with no issues.

### Screenshots and recordings

[code]

### OS / Distro

Windows 10.0.19044

### Flux version

`PS C:\Users\vidu_> flux v

[2022-03-10 04:04] kingdonb commented on #2518
Thanks for your report. I saw you left a comment under this issue: https://github.com/fluxcd/flux2/issues/2508#issuecomment-1062949866

Your report is different than that report, your report shows deployments not ready while that report showed all deployments became ready. If the deployments are not ready for some reason, that will prevent Flux from working as it hasn't been able to launch success

[2022-03-10 08:17] zxkane opened #2519 "can not get helmrelease reconcile failure notification"
### Describe the bug

Create a alert object using slack like below,

[code]

I can receive the notification for resource configured like below,
[code]

However there is no notification for failing installing/upgrading helm release,
[code]

### Steps to reproduce

deploy `bitnami/prestashop` via HelmRelease,

[code]

### Expected behavior

The failure status of helm release is notified via alert sy

[2022-03-10 09:08] joerg-walter-de opened #2520 "imageupdateautomation / unable to clone: dial tcp xx.xx.xx.xx:22 connect: connection timed out"
### Describe the bug

I have an image update automation as follows (and another one):

[code]

An Gitlab repo:

[code]

After restarting the image automation controller they work for a bit but then fall into producing an error message:

[code]

from the controller log:
[code]

### Steps to reproduce

na

### Expected behavior

The repo is updated

### Screenshots and recordings

_No response_

###

[2022-03-10 09:42] stefanprodan commented on #2520
You need to increase the timeout to at least 60s.

[2022-03-10 09:44] stefanprodan commented on #2519
You need yo add a new entry to `eventSources` for that namespace:

[code]

[2022-03-10 09:44] #2519 closed

[2022-03-10 10:47] joerg-walter-de commented on #2520
Fair enough.

I have now

[code]

for the repo.

The controller seems to be stuck though. The same error messages keep coming.
I have restarted the controller and will observe.

[2022-03-10 11:19] PierreBart commented on #2514
So it seems that the issue is related to how the ownership of the `spec.replica` field of the deployment is transferred when Flux starts reconciling.

I have managed to avoid the situations of the deployment replicas going down to 1 by pre-patching the manager of the `spec.replicas` field before letting Flux reconcile.

First I create a manifest containing only the replicas field of the deployment

[2022-03-10 13:15] zxkane commented on #2519
@stefanprodan thanks for pointing out the misconfiguration. Does the namespace support wildcard `*` like the name to match all `HelmRelease`? It's not mentioned in the [doc](https://fluxcd.io/docs/components/notification/api/#notification.toolkit.fluxcd.io/v1beta1.CrossNamespaceObjectReference).

[2022-03-10 13:23] stefanprodan commented on #2519
It’s not mentioned because it’s not supported. No plans on having such a thing in Flux, as it would break multi-tenancy isolation.

[2022-03-10 17:27] fishman opened #2525 "Webhook receivers don't allow granular event selection on github"
### Describe the bug

if I create a github receiver, I can for example listen for the release events. However the release event on github triggers for `Release created, edited, published, unpublished, or deleted`.

Similarly it's impossible to trigger anything at the end of a github workflow. Since there is no way to limit the event on a completed workflow.

[code]

### Steps to reproduce

1. Crea

[2022-03-10 19:31] pusherman opened #2526 "Flux reconcile kustomization causes redeploy after kubectl rollout restart deploy"
### Describe the bug

When you issue a `kubectl rollout restart deploy` to redeploy a pod-- that pod is then killed and recreated the next time a reconciliation is performed.

From describing the deployment after a restart, it looks like the only difference is a `Pod Template`, annotations for `kubectl.kubernetes.io/restartedAt`.  After flux reconciles and kills the pod and deploys a new one that

[2022-03-11 00:20] RyzeNGrind commented on #2518
Thank you, it looks like it is an issue with my NVIDIA AGX Xavier node when it receives the deployment job. For now I have drained and cordoned the node so I can continue to use flux but I expect that the microk8s team maybe be able to lend me better insight regarding this issue.

[2022-03-11 03:09] duynguyende opened #2527 "Flux try to change permission of executable files in repository when re-bootstraping them same repository"
### Describe the bug

![image](https://user-images.githubusercontent.com/97506531/157794107-08075022-ad48-4538-8a4a-886149de0805.png)
In my repository there are two executable files: create-ecr-repository.sh and pants. Normally they are excuted but when I have to re-bootrap this repository, somehow these files permission are changed, so my CI/CD pipeline can not execute these files.

### Steps to

[2022-03-11 06:58] stefanprodan commented on #2526
As documented [here](https://fluxcd.io/docs/faq/#why-are-kubectl-edits-rolled-back-by-flux) and [here](https://fluxcd.io/docs/components/kustomize/kustomization/#reconciliation), all kubrctl commands must use `--field-manager=flux-client-side-apply` to avoid being overwritten.

[2022-03-11 06:58] #2526 closed

[2022-03-11 08:27] joerg-walter-de commented on #2520
That didn't work. After the restart of the controller. For one of the automations three success messages can be seen in the controller log. After that only the same error message as described above is displayed.

[2022-03-11 09:34] #2516 closed

[2022-03-11 10:56] hiddeco opened #2532 "Rewrite spec documentation in more user-friendly format"
The source-controller v1beta2 API comes with [a new format for the spec documentation](https://github.com/fluxcd/source-controller/tree/main/docs/spec/v1beta2), which is more in-line with the documentation from e.g. [Kubernetes workload resources itself](https://kubernetes.io/docs/concepts/workloads/controllers/) and does not include (for the end-user confusing) Go code.

It would be good to apply

[2022-03-13 23:31] nickperkins opened #2535 "flux diff - failed to mask secret <name> sops data: no field named 'type'"
### Describe the bug

I would like to run a `flux diff` to view the changes to be applied to our production cluster. We use SOPS secrets.

When I run `flux diff` I get the following error:

[code]

### Steps to reproduce

1. Create a secret encrypted with SOPS.
2. Attempt to run a `flux diff` against the kustomization which has the secret encrypted with SOPS.

### Expected behavior

The flux diff

[2022-03-14 18:55] kingdonb opened #2537 "unable to get kubeconfig kubernetes.io/serviceaccount/token: permission denied"
Maybe fixed by:
* https://github.com/fluxcd/helm-controller/pull/435
* https://github.com/fluxcd/notification-controller/pull/342

-- someone who has experienced this issue can test and let us know if this is what's needed.

### Describe the bug

Helm Controller and Notification Controller were reported by a user on EKS to be in crashloopbackoff.

I am not sure why I haven't seen this issue on any

[2022-03-15 07:47] souleb commented on #2535
Hi,

Can you give more information on how you generate and encrypt your secrets? Only the `data` or `stringdata`fields must be encrypted.

[2022-03-15 08:59] zzvara opened #2540 "`kustomize-controller` fails with `knative` 1.2.0"
### Describe the bug

The `kustomize-controller` fails with `knative` 1.2.0 as follows:

[code]

### Steps to reproduce

1. Install Flux as follows:

[code]

2. Install `knative` from [1] as suggested by [2]. We replaced all `namespace: default` to `namespace: system` so that `knative` would be installed onto the `system` namespace instead.

[1] https://github.com/knative/operator/releases/downloa

[2022-03-15 09:04] stefanprodan commented on #2540
[code]

I don't how this error has anything to do with Flux, the ConfigMap is invalid.

[2022-03-15 09:05] eloo opened #2541 "Failing reconcilers in Grafana Dashboard is wrong"
### Describe the bug

Hi,

i guess the metric for the failing reconcilers in the grafana dashboard is not accurate.

[code]

This metric will increase for all reconcilers which are not ready.. so also for running reconcilers it will increase and drop again.

So i guess the metric query needs to be adjust a bit.
Currently i'm not sure what the best would be. But right now the metrics is simple wron

[2022-03-15 09:39] zzvara commented on #2540
@stefanprodan The `ConfigMap` exists as a resource in Kubernetes. I suspect that it is valid then:

![image](https://user-images.githubusercontent.com/8371789/158349296-3928367a-b928-46b6-835c-ae98d506ec2b.png)

What is interesting to me is that what does the `kustomize-controller` has to do with it in the first place? Why is this (if an issue), appears in `kustomize-controller` and hinders the sy

[2022-03-15 09:53] stefanprodan commented on #2540
@zzvara you should create a dedicated Flux Kustomization for knative, so it doesn't affect all the other syncs. See here an example: https://github.com/fluxcd/flux2-kustomize-helm-example

[2022-03-15 11:34] zzvara commented on #2540
@stefanprodan thanks, that fixes it!

[2022-03-15 14:49] kbaisla31 opened #2543 "yq read git-auth.yaml 'data."identity.pub"' | base64 --decode"
### Describe the bug

When I run these commands, it gives me this error "open git-auth.yaml: no such file or directory"

flux -n apps create secret git dev-team-auth \
    --url=ssh://git@github.com/<org>/<dev-team> \
    --export > ./tenants/base/dev-team/auth.yaml

yq read git-auth.yaml 'data."identity.pub"' | base64 --decode

### Steps to reproduce

flux -n apps create secret git dev-team-auth

[2022-03-15 14:55] stefanprodan commented on #2543
yq has changed the commands in v4, see their docs here: https://mikefarah.gitbook.io/yq/

[2022-03-15 14:57] hiddeco commented on #2543
In addition, `flux secret git` creates a Secret with `.stringData`, and not `.data`.

[2022-03-15 15:26] stefanprodan commented on #2543
This is covered in the help section:

[code]

[2022-03-15 15:26] #2543 closed

[2022-03-15 16:10] kbaisla31 commented on #2543
Error: unknown command "eval" for "yq"
Run 'yq --help' for usage.
2022/03/15 12:10:04 unknown command "eval" for "yq"

[2022-03-15 21:28] kingdonb commented on #2537
It is unsure if there is an issue we still need to address after merging those two, based on this thread:

https://github.com/fluxcd/notification-controller/pull/342#discussion_r826910445

[2022-03-16 01:09] mikestef9 commented on #2537
setting fsGroup is only required for EKS 1.18 and earlier clusters https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html#pod-configuration

[2022-03-16 07:04] stefanprodan commented on #2537
What about Fargate on EKS? Last time I tried it didn’t worked without an fsGroup.

[2022-03-16 12:31] pedroguilherme opened #2546 "GitRepository failed: 'unable to clone: early EOF'"
### Describe the bug

Hello, I have a problem in the GitRepository of flux cd.

Until yesterday, the synchronization with git was being done normally, but in the afternoon, for some reason that I don't know what, it started to give an error when trying to fetch new updates, the error is: 'unable to clone: early EOF'.

I thought it was some bad configuration, so I uninstalled everything from flux a

[2022-03-16 17:49] kbaisla31 opened #2548 "Failed to decode Kubernbetes YAML"
### Describe the bug

I am seeing below error while doing flux get kustomizations --watch

flux-system     False   failed to decode Kubernetes YAML from /tmp/flux-system1808016044/clusters/staging/tenants.yaml: missing Resource metadata       main/cdb472b8d3b8623a21775be591d3e1428e9c14b9   False

Here is my tenants.yaml under staging folder

Flag --validation has been deprecated, this arg is no lo

[2022-03-16 20:31] pedroguilherme commented on #2546
After some time, trying testing various scenarios, I found that on 03/15/2022, yesterday, the Github stopped accepting rsa sha-1 keys [Improving Git protocol security on GitHub](https://github.blog/2021-09-01-improving-git-protocol-security-github/), and because of that, the error was happening. I updated the key to sha-2 and it worked.

However, the error (**unable to clone: early EOF**) had noth

[2022-03-17 12:55] jprecuch opened #2549 "Notifications username for slack is not really working"
### Describe the bug

I have rovider with following
[code]
It is also properly configured on cluster
[code]
However when I changed something the Slack notification does not have the username from this Provider configuration  but uses default = Slack application name.

### Steps to reproduce

1.  Deploy provider based on above where you use app with different name than what you specified to usernam

[2022-03-18 03:13] nickperkins commented on #2535
I'm only encrypting `data` or `stringData`.
[code]
Here's an example secret:

[code]

[2022-03-18 06:56] scardena commented on #1878
@kingdonb where do I set spec.timeout? for me at least, everytime that I run into `install retries exhausted`, one workaround is to manually edit the helm release:
[code]
and manually add `spec.timeout`. Where can I set it such that it always sets a timeout?
I am creating my helm releases like this:
[code]
but timeout 15m is not being replicated to the helm release spec, but rather it seems it sen

[2022-03-18 13:10] jprecuch opened #2551 "HelmRelease notifications are not sent when install/dry-run fails"
### Describe the bug

I've tried to install helmchart but it failed because of existing resource in my cluster
[code]
This was properly reported in helm-controller logs. However when I checked Slack where my notifications are being sent, there is nothing like this reported
Configuration:
[code]
 I have same set for info notifications but nothing. The only issue I get is after timeout
[code]

Is is

[2022-03-18 13:21] stefanprodan commented on #2551
The Alert that you've defined only captures events from the `flux-system` namespace. You need to add all namespaces to it, e.g:

[code]

[2022-03-18 13:21] #2551 closed

[2022-03-18 13:41] pjbgf opened #2552 "Align version of dependencies when Fuzzing"
The fuzz testing should be running against the same dependency versions that are used during testing and release of controllers, for improved reliability of the results.
In projects that depend on `libgit2` (e.g. `source-controller` and `image-automation-controller`) this is even more so, as both `git2go`  and `libgit2` must be within a specific version range for them to work together.

The curren

[2022-03-18 16:29] domoran commented on #1153
I just got that error too. I realized that it happened, when I ran the flux bootstrap from a different drive than drive C ... After switching to drive C the execution worked!

`D:\Code\gitops>flux bootstrap github --components-extra=image-reflector-controller,image-automation-controller --hostname=some-repository --ssh-hostname=some-repository --owner=xyz--repository=gitops  --branch=master
► conn

[2022-03-18 16:43] kingdonb commented on #1878
I'm fairly sure that's correct. `--timeout` is a global option on the flux cli, it does not pass through to HelmRelease.

[2022-03-21 08:50] joerg-walter-de commented on #2520
This problem seems to have gone away with the upgrade to flux 0.27.3

[2022-03-21 08:50] #2520 closed

[2022-03-22 02:46] Tobytee17 commented on #2243
I'm running into this same issue while deploying version 0.15.3 of cert-manager while upgrading Flux from version 0.17.0 to 0.27.4. Using version 0.17.0, I have do not experience this issue.

My CRDs, CRs and HelmRelease are in separate Kustomizations, with deployment ordering enforced via the dependsOn element as: CRDs > HelmRelease > CRs. I've also tried consolidating the CRDs and HelmRelease in

[2022-03-22 21:14] tomhuang12 commented on #1878
In my case, I had the wrong RBAC permissions used by the HelmRelease and it got stuck in `install retries exhausted`. After fixing the RBAC, it doesn't try to install again. `suspend` and `resume` will give it a kick and retry installing which succeeded. Maybe a new command is needed instead of this workaround?

[2022-03-23 02:30] vincentserpoul opened #2563 "helmrelease cockroachdb not working"
### Describe the bug

helm install of cockroachdb is not working properly.
Direct healm install works.

### Steps to reproduce

1. On any cluster, install [flux](https://fluxcd.io)
2. deploy crdb using flux helm CRDs

[code]

I am not sure if it's on flux or cockroachdb, but it's worth creating an issue to centralize the fix.

I opened an issue on cockroach side [here](https://github.com/cockroach

[2022-03-23 07:29] stefanprodan commented on #2563
Please post here `flux logs -n cockroachdb`

[2022-03-23 08:08] vincentserpoul commented on #2563
[code]

[2022-03-23 08:29] stefanprodan commented on #2563
I tried this on my GKE cluster, cockroachdb fails to install and it's not related to Flux.

[code]

The cockroachdb cluster just fails to initialise:

[code]

Note that Flux waits for all resources to be ready, to replicate what Flux does with Helm you need to use `helm install --wait`.

[2022-03-23 10:41] vincentserpoul commented on #2563
On my side, using --wait with helm from my local machine works correctly as well.

I guess the crdb helm is far from trivial and there are some transition issues related to k8s CA in different versions. I'm adding cert-issuers on my side and it seems without them, the install fails as well.

I'm not sure how to dumb down the install to make it more simple, but maybe there are places i didn't look

[2022-03-23 10:47] stefanprodan commented on #2563
Delete and release and reapply it, the `kubectl -n cockroachdb describe hr cockroachdb` should tell what's going on.

The error `2022-03-23T08:04:13.092Z error HelmRelease/cockroachdb.cockroachdb - Reconciler error Operation cannot be fulfilled on helmreleases.helm.toolkit.fluxcd.io "cockroachdb": StorageError: invalid object, Code: 4, Key: /registry/helm.toolkit.fluxcd.io/helmreleases/cockroachdb

[2022-03-23 10:49] hiddeco commented on #2563
In addition, it would be best to configure `storageNamespace` _and_ `targetNamespace` to match. Unless you are absolutely positive you do not need `storageNamespace` to be set (and do not want to be able to control the release with `helm`).

[2022-03-23 10:51] stefanprodan commented on #2563
There is no good reason for not deploying all things in that namespace, like so:
[code]

[2022-03-23 16:16] #2479 closed

[2022-03-23 16:18] rlaflamme opened #2568 "GitRepository: caFile not respected x509: certificate signed by unknown authority': git cmd = '/usr/bin/git"
### Describe the bug

I have a private gitlab repository secured by  a self-signed certificate (pfsense certificate authority).
The bootstrap process is working fine. However when I try to add another git repository ( app-config) I have a X509 issue.

[code]

Here is manifest:
[code]
And the secret:
[code]
I tried different solutions but none of them worked
1- bundle the root+intermediate CA certs

[2022-03-23 16:21] stefanprodan commented on #2408
I've created cheatsheet for `flux bootstrap` with lots of examples on how to customise all things in Flux.
Docs here: https://fluxcd.io/docs/cheatsheets/bootstrap/

[2022-03-23 16:21] #2408 closed

[2022-03-23 16:22] #2251 closed

[2022-03-23 16:27] hiddeco commented on #2568
I do not think the issue you are experiencing has to do with the setup of the `GitRepository` object, but rather with something in the `Kustomization` containing a reference to a remote resource. For which the kustomize-controller does not have any credentials.

[2022-03-23 19:00] stefanprodan commented on #2563
I've added to the FAQ a step-by-step guide on how to debug Helm install failures https://fluxcd.io/docs/faq/#how-to-debug-install-retries-exhausted-errors

I'm not sure what else can we do on the Flux side for this issue.

[2022-03-24 03:01] vincentserpoul commented on #2563
thank you @stefanprodan

I actually added the disablewait
[code]
and I can reproduce the same behaviour that I get with direct helm install.
This is definitely not a flux issue then.

[2022-03-24 03:01] #2563 closed

[2022-03-24 04:12] rlaflamme commented on #2568
@hiddeco You're right! I have an issue in the kustomization.yaml.  It's a link to a resource that is on my internal gitlab and

[code]
The exact error message:
[code]

But I have X509 Issues with the GitRepository artifact.  Here's the use case:

- Internal/Company Git -- public reposities (no authentication) -- using self signed certificate (internal CA signer)
The following manifest doesn't work

[2022-03-24 06:58] stefanprodan commented on #2568
@rlaflamme remote bases that point to Git are not supported.

So instead of this `kustomization.yaml`:

[code]

Firt you need to create a GitRepository under `clusters/your-cluster` for the base with:

[code]

Then add the namespace and the deployment patch to the main repo in a dir e.g. `code-to-prod-blog`. Inside the `code-to-prod-blog` create a `kustomization.yaml` like so:

[code]

Next create

[2022-03-24 08:25] eloo commented on #2408
@stefanprodan awesome.

Thanks!

[2022-03-24 16:14] rlaflamme commented on #2568
Thank you @stefanprodan !
It almost works,
I am facing an ordering issue.
code-to-prod-blog-config  repo should be deployed before code-to-prod-blog. Otherwise I have the message ' no artifact available for include 'code-to-prod-blog-config''
Is there a way to specify a order or a codition before/after antother git repo?

[code]
[code]

Thank you!
Robert

[2022-03-24 18:12] stefanprodan commented on #2568
@rlaflamme if you do `flux reconcile source git code-to-prod-blog` does it recover?

[2022-03-24 20:07] rlaflamme commented on #2568
Thank's a lot @stefanprodan  It's working now with your solution and the 'flux reconcile' command
Do you know is there any plan to support internal CA certs  like this ?
[code]

[2022-03-25 06:16] stefanprodan commented on #2568
@rlaflamme the source should recover on its on, please update to latest flux and try again, if it doesn’t then please open a bug in source-controller repo. As for remote bases from Git, there is no plan on supporting this.

[2022-03-25 06:34] containerpope opened #2574 "Yaml !!merge anchors are causing Kustomize errors"
### Describe the bug

Till yesterday there was a bug in Kustomize, in case !!merge anchors are used in a certain way in yaml documents.
The fix was merged and released recently in version 4.5.3

https://github.com/kubernetes-sigs/kustomize/pull/4383

https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.5.3

### Steps to reproduce

Go to knative-eventing repository and deploy th

[2022-03-25 17:56] ilanpillemer commented on #2552
Hi @pjbgf , why is this a good first issue? I am looking around for good first issue to look at.

[2022-03-25 18:19] pjbgf commented on #2552
Hey @ilanpillemer, this is a straightforward change that needs to be consistent across all repositories.

The first part is pretty much ensure that we remove `go mod tidy` on all the files linked above. Then ensure that all the dependencies are still in place - in some cases this will require a `go get...`.

Feel free to propose a PR and tag me for review.

[2022-03-25 21:55] jobinjosem opened #2579 "Kustomize Reconciliation interval"
### Describe the bug

This document says the minimum value for a Kustomize reconciliation should be over 60 seconds.
https://fluxcd.io/docs/components/kustomize/kustomization/

When I tried with a smaller time period, like 30s it works without any issues. Is this correct behavior? If it works, then the documentation should be updated.

What is the minimum interval value we can set for Source and K

[2022-03-26 05:15] drozzy commented on #2329
The getting started guide does not mention anything about this.
https://fluxcd.io/docs/get-started
<img width="796" alt="Screen Shot 2022-03-26 at 01 14 50" src="https://user-images.githubusercontent.com/140710/160225764-87193504-9b9b-43bb-ba8d-bda9ab46fdb6.png">

[2022-03-26 12:36] kingdonb commented on #2329
@drozzy Can you please elaborate? What's missing / what did you expect to see and where?

[2022-03-26 15:12] drozzy commented on #2329
You are right, I missed that. Thanks for pointing it out.
I think perhaps "Objectives" should go first, and "Before you begin" should go second. Because the eye naturally scans the page and skips past objectives. So anything above that seems optional.

[2022-03-26 15:52] kingdonb commented on #2329
Thanks for the feedback. You're not the first person that missed this information, so it's helpful to hear! We can consider reordering the structure of the docs, that's a pretty reasonable suggestion and makes sense to me.

[2022-03-26 16:04] drozzy commented on #2329
Perhaps it would make sense to just remove "before you begin" entirely and move the mention about repo tokens into the "Export your credentials" section. Then move kubernetes cluster into its own section. E.g.:

1. Objectives
2. Export your credentials (with mention that access token should have "repo" premissions")
3. Install Kubernetes
4. Install the Flux CLI
5. Check your Kubernetes cluster
6.

[2022-03-26 17:52] kingdonb commented on #2548
It looks like you have passed a flag that is deprecated, and the outputted warning landed in your Kubernetes resources.

Can you check this and verify?

[2022-03-26 18:09] rlaflamme commented on #2568
Yes it does the job right.  Thanks again for your help  @stefanprodan  I will close the issue.

[2022-03-26 18:09] #2568 closed

[2022-03-26 20:06] ilanpillemer commented on #2552
@pjbgf I did a grep on the first file in the list and I got three lines with `go mod tidy`.
Would this change happen in all three places or just the first one?

[code]

[2022-03-28 07:03] ilanpillemer commented on #2417
@pjbgf `Go 1.18` has officially landed.

[2022-03-28 08:58] pjbgf commented on #2552
@ilanpillemer  that's correct, in the `pkg` those 3 instances relate to three separate go modules.

[2022-03-28 09:03] pjbgf commented on #2417
@ilanpillemer thanks for the nudge, issue updated accordingly.

We probably will need some upstream dependencies to move on to `Go 1.18` before we can do the same - last time around the key dependency was Kubernetes-related if my memory serves me well.

[2022-03-28 11:04] ilanpillemer commented on #2552
@pjbgf   as far as I could understand when eyeballing the `sh` files for tasks 6 and 7, the `go.mod` file is already being copied, so no changes were needed in that respect for tasks 6 and 7 if that assumption is correct based on that quick glance.

[2022-03-28 12:59] pjbgf commented on #2552
@ilanpillemer I think the only additional thing was the `go get -d` for the current project, on `image-automation-controller`, but you already added that. :+1:

[2022-03-28 13:46] ilanpillemer commented on #2552
@pjbgf I didnt use the `-d` flag though when I added it.

[2022-03-28 17:08] pjbgf commented on #2552
@ilanpillemer that should not be a problem, as it is simply updating the reference against "itself" locally.
Besides, once #2417 lands most of this logic will become redundant.

[2022-03-28 18:48] ilanpillemer commented on #2552
@pjbgf  I didn't think it was a problem, as I was assuming it was ephemeral either way. Just mentioned it, in case there was some edge case funny that was not intuitive to me.

[2022-03-29 02:17] Tobytee17 opened #2589 "Flux reconciliation fails on cert-manager CR resources due to pruning issue"
### Describe the bug

I'm running into an issue while deploying version 0.15.3 of cert-manager while upgrading Flux from version 0.17.0 to 0.27.4. Using version 0.17.0, I have do not experience this issue.

My CRDs, CRs and HelmRelease are in separate Kustomizations, with deployment ordering enforced via the dependsOn element as: CRDs > HelmRelease > CRs. I've also tried consolidating the CRDs and

[2022-03-29 03:06] Tobytee17 commented on #2589
Mistake on my end, I've read the error a little more carefully and realized the issue is with the cert-manager CRD version.

Upgrading from v1.5.3 to 1.7.2 fixed the issue (v1.6.0 of cert-manager onwards no longer supports versions v1alpha2, v1alpha3, and v1beta1 of the cert-manager API).

[2022-03-29 03:06] #2589 closed

[2022-03-29 07:16] #2400 closed

[2022-03-29 07:21] souleb commented on #2400
@rombert please test this and reopen if needed.

[2022-03-29 07:30] #2552 closed

[2022-03-29 07:33] iyermako opened #2590 "flux.sh always installs the latest version"
### Describe the bug

Looks like install script doesn't respect a specified flux version and always download the latest.

### Steps to reproduce

Any thing like
export FLUX_VERSION=0.25.3
curl -s https://raw.githubusercontent.com/fluxcd/flux2/v0.25.3/install/flux.sh | sudo bash
seem not working as expected

### Expected behavior

The script installs a specified version of the tool.

### Screenshot

[2022-03-29 08:15] stefanprodan commented on #2590
Duplicate of: https://github.com/fluxcd/flux2/discussions/2396

[2022-03-29 09:02] #2590 closed

[2022-03-29 09:10] rombert commented on #2400
@souleb - is there a snapshot build I could use for testing?

[2022-03-29 09:40] stefanprodan commented on #2400
@rombert you can clone this repo then do `make build` then run `./bin/flux diff`.

[2022-03-29 10:55] pjbgf opened #2592 "GA Roadmap"
This is an overarching issue with high-level items we want to accomplish ahead of GA. It goes in a bit more detail and expands  the [high-level roadmap to GA in the website](https://fluxcd.io/roadmap/).

#### Website's high-level items:
- [ ] Adopt Kubernetes [kstatus](https://github.com/kubernetes-sigs/cli-utils/tree/v0.25.0/pkg/kstatus#conditions) standard conditions
- [ ] Standardize events and

[2022-03-29 11:31] pjbgf commented on #1595
@mikesir87 thank you very much for reporting this. We have recently introduced an [experimental managed transport](https://github.com/fluxcd/source-controller/blob/main/CHANGELOG.md#experimental-managed-transport-for-libgit2-git-implementation) for `libgit2` that would allow you to use that HostKeyAlgo.

The managed transport use the native golang libraries to establish the ssh connections. And up

[2022-03-29 12:47] pjbgf opened #2593 "Git Overall Improvements"
Overarching issue enumerating Git issues and improvements.

- [x] Across Implementations
  - [x] https://github.com/fluxcd/flux2/issues/2610

- [x] `libgit2`
  - [x] Performance / Resource Consumption
    - [x] https://github.com/fluxcd/image-automation-controller/issues/334
  - [x] Unable to Clone
    - [x] https://github.com/fluxcd/source-controller/issues/433
    - [x] https://github.com/fluxcd

[2022-03-29 17:25] balonik opened #2595 "helm-controller fails to remove HelmRelease in multi-tenant when using ServiceAccountName"
### Describe the bug

I have encountered an interesting issue with the multi-tenant setup and `ServiceAccountName`.

Following the multi-tenant example https://github.com/fluxcd/flux2-multi-tenancy I have setup some test resources on my cluster.
Let's say I have a `HelmRelease` with a `ServiceAccountName` defined in my tenant's `GitRepository` where the tenant `Kustomization` points to. And this `

[2022-03-29 18:04] stefanprodan commented on #2595
You need to point the tenant Kustomization to an empty dir, the GC will remove all things except for the SA and namespace.
Create an empty dir in the fleet repo with a `.gitkeep` file inside, then set the path to that dir.

[2022-03-29 18:43] ground7 opened #2596 "Public GitRepository using GitLab Requiring Credentials"
### Describe the bug

Previously I was able to use a gitlab public repository like so:
[code]
This no longer works, I now get:
[code]
This still works fine for my github sources.

### Steps to reproduce

1. Install flux
2. Add a public GitRepository source with a public gitlab url
3. Try to reconcile

### Expected behavior

Public gitlab repos would work as sources without needing credentials

###

[2022-03-29 19:58] mjnagel commented on #2596
I'm seeing this same issue, also with public gitlab repos that were working fine pre-0.28.

[2022-03-29 20:25] pjbgf commented on #2596
Thank you for reporting this, I have just reproduced this with the default `gitImplementation` which is `go-git`.

Whilst we investigate and resolve this issue, you should be able to make it work by changing the `gitImplementation` to `libgit2`.

[2022-03-29 22:18] pjbgf commented on #2596
A fix is in the pipeline, we should release a new version tomorrow with it.

[2022-03-30 10:12] #2596 closed

[2022-03-30 12:40] clementblaise opened #2598 "Diff command should ignore substitute label/annotation on configMapGenerator"
### Describe the bug

When using substitute on a Kustomization that contains a configMapGenerator diff is templating the content even though `kustomize.toolkit.fluxcd.io/substitute: disabled` was set.

The diff command should not template resource when the annotation is present.

This is a bit problematic since at runtime the substitution will not template the resource, which means diff will  alwa

[2022-03-30 18:59] hiddeco commented on #2596
This has been solved in `v0.28.5`, which was released about a minute ago https://github.com/fluxcd/flux2/releases/tag/v0.28.5

[2022-03-31 17:43] kingdonb commented on #2474
I do think this is a great idea and well argued, I think we are considering which features to add in the context of separating ideas into before-GA and after-GA, I think as a new feature this sounds like one that would likely come after Flux 2.0 or GA.

Thanks for the suggestion!

[2022-03-31 21:27] stevewallone opened #2606 "CustomResourceDefinition/alerts.notification.toolkit.fluxcd.io dry-run failed, error: no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1""
Hello,
When executing a `flux bootstrap` an error is thrown related to a CRD. There are other CRDs defined on the cluster with that version. I was able to apply that manifest manually with the below command.

[code]

But the bootstrap failed.

[code]

### versions
[code]

[2022-03-31 22:14] stefanprodan commented on #2606
This is probably due to lack of permissions, make sure the kubecofig current context has admin access. You can specify it with `flux bootstrap --kubeconfig=path/to/kubeconfig --context=your-cluster`

[2022-03-31 22:34] stevewallone commented on #2606
@stefanprodan that's exactly what was! Thanks for the pointer.

[2022-04-01 13:58] souleb commented on #2400
Awesome! Thank you. I would like to add an `unified diff` format too, but it requires time to implement it. Maybe some time in the future.

[2022-04-01 14:45] #2598 closed

[2022-04-01 18:57] ilanpillemer commented on #2203
@dholbach if I send a PR would you review it?

[2022-04-04 08:30] dholbach commented on #2203
@ilanpillemer For sure, yes! <3

[2022-04-04 12:08] pjbgf opened #2610 "Git: SSH Key Exchange Improvements"
Improvements on Git SSH Key Exchange:
- [x] Add `curve25519-sha256` and `diffie-hellman-group14-sha256` to `pkg/ssh`
  - https://github.com/fluxcd/pkg/pull/268
- [x] Align supported/preferred algorithms across `go-git` and `libgit2` Managed transport.
  - https://github.com/fluxcd/source-controller/pull/708

Related Issues:
- https://github.com/fluxcd/flux2/issues/1320

[2022-04-04 13:21] Cellebyte opened #2612 "[Bug] Type conversion in Kube API Server."
### Describe the bug

Currently on our api-server we get the folowing issue.

[code]

### Steps to reproduce

1. Install flux v0.28..5
2. Apply a set of kustomizations.

### Expected behavior

Due not complain about the status field.

### Screenshots and recordings

[code]

### OS / Distro

Ubuntu 20.04-3

### Flux version

v0.28..5

### Flux check

► checking prerequisites
✔ kubectl 1.19.2 >=1.18

[2022-04-04 13:29] stefanprodan commented on #2612
You need to update your Flux Kustomizations manifests to v1beta2, the status schema is different from v1beta1, also make sure the `.status` and `.managedFields` fields are not present in your yamls.

[2022-04-05 01:40] LvLs9 opened #2614 "HelmRelease valuesFrom improvement"
### Hi there!
I want to pass values (basically it's credentials) for InfluxDB in Grafana HelmRelease additional datasource.
But looks like data from `values` overrides data of `valuesFrom`. So how can I do that?

If I have not any way, I can PR update, which will allow something like `merge: true` flag for `valuesFrom`
*(looks like sometimes it's really useful feature)*

![image](https://user-imag

[2022-04-05 06:42] majoferenc opened #2615 "Feature Request: Possibility to set reconcile strategy for Helm Release via CLI"
Hi all,

in our project we are using ` flux create helmrelease` command for generating Flux Manifests file for our deployments. This generation is executed during one of the stage in our GitLab pipeline.  Although we would like to have a possibility to set `reconcileStrategy ` to `Revision ` and set reconcileStrategy interval via this flux CLI command.

Generated Flux Manifest should looks like th

[2022-04-05 14:19] #2615 closed

[2022-04-05 19:50] kingdonb commented on #2614
By the override order places `values` in the spec last, here's what it says in the docs:

https://fluxcd.io/docs/components/helm/helmreleases/#values-overrides

Is it possible to ask why you have written values in the `values` that you planned to override later? (If your concern is that someone might fail to pass the value, and you don't know where the default should come from... it is possible to

[2022-04-06 07:28] canidam opened #2619 "Flux CLI support for parameters from env vars (at least sensitive ones such as password)"
### Discussed in https://github.com/fluxcd/flux2/discussions/2557

<div type='discussions-op-text'>

<sup>Originally posted by **canidam** March 21, 2022</sup>
Bootstrapping flux with git subcommand using credentials requires the user to provide password over CLI.

[code]

This is a bad pattern. I find it weird flux doesn't support provide credentials over environment variables or from a file.

Co

[2022-04-06 07:29] canidam commented on #2619
I use the git provider for bitbucket server, that's why I need it. I'll open PR to align this with the other providers

[2022-04-06 09:58] balonik opened #2620 "kustomize-controller reports Kyverno ClusterPolicy "configured" on every reconciliation"
### Describe the bug

Every time that Flux's kustomize-controller reconciles Kyverno `ClusterPolicy` resources are "configured" while all the other resources covered by the same Kustomization remain "unchanged".

This seems to affect only Kyverno `ClusterPolicy` resources which has `background: true`, which is the default. Might be a coincidence, but I have 5 policies where 1 has `background: fals

[2022-04-06 11:58] balonik commented on #2595
@stefanprodan thanks for the ideas. Is there any way Flux could avoid such situations like having some dependencies or something. I know this might not be in scope for Flux so feel free to close this if you think this is out of scope for Flux.

[2022-04-06 12:54] kingdonb commented on #2579
In earlier versions of Flux, we had hard limits that would block you from setting these intervals too tightly. I think we have pulled out those stops, but the recommendation stands.

The default timeout is `interval - 30s` but if interval is set at 30s or lower, the timeout will be `30s`

https://github.com/fluxcd/kustomize-controller/blob/a4dc03e57c0f64e251a2d7be5c2012e381b4f591/api/v1beta2/kusto

[2022-04-06 13:13] stefanprodan commented on #2579
We've published a list of recommend settings for Flux GitRepos and Kustomizations here: https://fluxcd.io/docs/components/kustomize/kustomization/#recommended-settings

The Kustomization interval is only for undoing kubectl edits, setting this to under a minute will just DDOS your Kubernetes.

[2022-04-07 09:41] wilmardo opened #2623 "Current CRDs aren't valid against the Kubernetes API specification"
### Describe the bug

The `metadata.creationTimestamp` must be of the string type according to the schema.

### Steps to reproduce

[code]

### Expected behavior

The CRDs are valid according to the Kubernetes API spec.

### Screenshots and recordings

_No response_

### OS / Distro

N/A

### Flux version

master

### Flux check

N/A

### Git provider

_No response_

### Container Registry provide

[2022-04-07 10:58] stefanprodan commented on #2623
The CRDs are generated with [controller-gen](https://github.com/kubernetes-sigs/controller-tools), we have no control over this process, please submit this issue to Kubernetes or kubeconform.

[2022-04-07 13:24] tomasfabian opened #2625 "HelmRelease valuesFrom kind secret with comma separated values (cannot end with ,)"
### Describe the bug

Hi,
in case that the secret value contains a comma character we receive the following error message:

[code]

### Steps to reproduce

Secret with a comma separated list of brokers:
[code]

Example HelmRelease yaml:

[code]

### Expected behavior

The secret value shouldn't be "parsed" with an error outcome.

### Screenshots and recordings

_No response_

### OS / Distro

N/A

[2022-04-07 13:33] hiddeco commented on #2625
You need to escape the comma, as otherwise the parsing logic (which equals `--set` as `helm` itself has when `targetPath` is used) will trip over the value. See also: https://helm.sh/docs/intro/using_helm/#the-format-and-limitations-of---set

The correct value would be: `kafka01.net:9092\,kafka02.net:9092\,kafka03.net:9092`

[2022-04-07 13:54] tomasfabian commented on #2625
Hi thanks for you reply @hiddeco.

The creation of the secret is not under our control. We are using the following [kafka-topic-operator](https://github.com/btrace-baader/kafka-topic-operator).

Thx

[2022-04-07 14:18] wilmardo commented on #2623
@stefanprodan Thanks! `controller-gen` was a good hint to get somewhere with this issue. As seen above I opened an issue over at Kubernetes with my findings.
I will keep the issue open for now (if you don't mind) since currently the FluxCRDs are indeed invalid according to the Kubernetes spec:

[code]

The $ref of `Time` where it states `type: string`
[code]

But this could well be that the Kubern

[2022-04-07 14:26] stefanprodan commented on #2623
One workaround would be to use a kustomize remove patch that targets the CRD Kind in all these overlays to delete the `creationTimestamp` field https://github.com/fluxcd/flux2/tree/main/manifests/bases

[2022-04-08 08:42] craigbryson opened #2627 "Kustomize-controller shows path not found error if kustomization and resources are deleted in the same commit"
### Describe the bug

Related to discussion: https://github.com/fluxcd/flux2/discussions/2622

In short I think the problem is resolved by v1beta2 kustomization API but there are still some errors in the logs that it might be worth investigating

### Steps to reproduce

Ok so I've tested this a little with podinfo

Added the following Kustomization to my repo:

[code]

Observed that the kustomizat

[2022-04-08 08:51] stefanprodan commented on #2627
I think the title is misleading, the controller does not fail to remove resources in its latest version. We don't do backports to deprecated APIs, so I would close this with the resolution "upgrade to v1beta2". Please reword the title to be about logs or close this issue and open a new one.

[2022-04-08 13:20] jprecuch opened #2628 "Dependency not found is considered info instead of error alert"
### Describe the bug

I was doing some testing and could see that missing dependency is considered as info instead of error:
This error was reported to me considered as info:
[code]
I agree that dependencies should be info alert when they are just waiting for others to finish. If some dependency is missing I consider it as error alert instead

### Steps to reproduce

1. Install flux
2. Configure a

[2022-04-08 16:30] AnaisUrlichs opened #2629 "Helm deployment not working -- based on docs example"
### Describe the bug

I tried to install a Helm Chart with Flux:
[code]
However, that
![Screenshot 2022-04-08 at 17 20 04](https://user-images.githubusercontent.com/33576047/162482488-0c559753-fec5-435e-8f55-57561831d6b8.png)
did not work:

So I tried the example in the docs: https://fluxcd.io/docs/use-cases/helm/#getting-started
But that did not work either:
![Screenshot 2022-04-08 at 17 20 42](h

[2022-04-08 18:42] aryan9600 commented on #2629
The chart name should be `starboard-operator` and not `aqua/starboard-operator`. For more info about valid chart names, please refer: https://fluxcd.io/docs/guides/helmreleases/#define-a-helm-release

[2022-04-09 08:01] stefanprodan commented on #2628
We had this on error and it made on-call life really hard, due to Kubernetes asyc nature, it’s not possible to determine if a dependency will fail forever or it’s just a transient error.

[2022-04-11 06:24] jprecuch commented on #2628
Thanks @stefanprodan. If it has proper business cause then probably nothing we can do. We will adjust our monitoring to report this "not found" while other dependencies not report at all.

[2022-04-11 06:24] #2628 closed

[2022-04-12 08:34] norman-zon commented on #2614
Can someone explain this design decision? I would expect `values.yaml` to always be default and the `valuesFiles` list to be appended.

[2022-04-12 09:09] hiddeco commented on #2614
It is to serve the other side of the coin: people that do not want to include the defaults otherwise do not have an option to omit the inclusion of the file.

[2022-04-12 15:51] alec-eu opened #2633 "Kustomize rips ImagePolicy comment from image definition"
### Describe the bug

base/podinfo/deployment.yaml:
[code]

demo/podinfo/kustomization.yaml:
[code]

I am aware of https://github.com/fluxcd/flux2/issues/1522, however I properly indented the spec and it is still removing the comment.

### Steps to reproduce

1. Install flux with image controllers
2. Create a base deployment.yaml that includes an image policy reference
3. Reference that base in a

[2022-04-12 16:07] stefanprodan commented on #2633
kustomize the CLI, removes all comments on build. You need to set the image policy comment in the Flux Kustomization object that reconciles the app on the cluster, like so:

[code]

Docs here: https://fluxcd.io/docs/guides/image-update/#configure-image-update-for-custom-resources

[2022-04-12 17:11] stefanprodan commented on #2633
The `flux-system` Kustomization should only apply other Flux Kustomizations not apps directly. Also you don't need to run `kustomize build` on your repo, Flux does that in-cluster for you. See here how to organise repos: https://github.com/fluxcd/flux2-kustomize-helm-example

[2022-04-13 13:48] damyan commented on #2456
Same here: using a PVC with a deployment (the combination is unfortunately not under our control) leads to a ClaimMisbound and phase: Lost.

[2022-04-14 12:47] richie-tt opened #2640 "helmrelase - false positive error ?"
### Describe the bug

Hi,

I suspect that helmrelase doesn't work correctly, because even it creates a new pod in Kubernetes, but it's still complaining about the reconcile

### Steps to reproduce

I successfully install flux on my Kubernetes cluster
[code]

result of flux check
[code]
I added the Helm repository

[code]
List of sources
[code]

Creating helmrelease which fails, but the pod is crea

[2022-04-14 12:50] stefanprodan commented on #2640
This is not a false positive, Flux waits for all resources to become ready including load balancers. Please see the docs on how to debug the install failure: https://fluxcd.io/docs/faq/#how-to-debug-install-retries-exhausted-errors

[2022-04-14 16:18] Frankkkkk opened #2641 "Flux stops syncing GitRepositories if a HelmRepository is invalid"
### Describe the bug

I was editing a `HelmRepository` and set an invalid `.spec.interval=1d` value.

Once the source-controller pulled the git repo, it immediately detected the invalid value:
[code]

As I didn't really looked at the logs, **I deleted the source-controller pod**

After that, I pushed another commit fixing the syntax (`.spec.interval=1m`) but the source-controller would not pull th

[2022-04-14 18:15] richie-tt commented on #2640
@stefanprodan  you are absolutely right, thank you very much for your help !!!

[2022-04-14 18:15] #2640 closed

[2022-04-14 18:33] kingdonb commented on #2629
Thanks for the nice YouTube video about Flux that you posted! We see that you got it resolved 🎉

There may still be a UX issue, but I'm going to close this one here. In the meanwhile, I'd like to add the video to our resources page!

* https://github.com/fluxcd/website/pull/884

Would that be alright with you @AnaisUrlichs?

[2022-04-14 20:56] texasbobs commented on #2596
We are experiencing this same issue on v0.28.5 with GitHub.
[code]

Our secret has the user name and its access token.

[2022-04-14 21:14] texasbobs opened #2642 "HTTPS Authorization Required Error"
### Describe the bug

We have a GitRepository that uses https to access github.com.  We have a secret defined with that GitRepository.  In the secret, we have a
[code]
We get the following error from the source controller.
[code]

We saw a similar [bug](https://github.com/fluxcd/flux2/issues/2596) for GitLabs when accessing a public repo so we upgraded from v0.26.0 to v0.28.5 and got the same erro

[2022-04-15 00:35] #2629 closed

[2022-04-15 12:51] hiddeco commented on #2642
Can you please confirm the PAT doesn't accidentally end with either a `\n` or ` `? This happens quite a lot when people say things are working using the same credentials but not on the cluster, due to having created the Secret value with e.g. `echo "<PAT> | base64` instead of `echo -n "<PAT>" | base64`.

[2022-04-15 13:00] texasbobs commented on #2642
I would expect that to say the credentials are invalid or wrong, but I will give that a shot.  Thanks.

[2022-04-15 13:39] texasbobs commented on #2642
That was it.  Thank you!

[2022-04-15 13:39] #2642 closed

[2022-04-15 13:48] stefanprodan commented on #2642
@texasbobs please use `flux create secret git` we made this especially to avoid things like this.

[2022-04-15 14:01] texasbobs commented on #2642
I wasn't aware of that.  Thanks.  However, that does not base64 encode the credentials.

[2022-04-15 14:15] stefanprodan commented on #2642
There is no need for that, `stringData` works fine with SOPS.

[2022-04-15 14:18] texasbobs commented on #2642
Very good.  I just saw `<BASE64>` in the doc.  Thanks for the help.

[2022-04-15 23:18] evanstucker-hates-2fa commented on #2535
I'm having the same problem. Looks like the error comes from here: https://github.com/fluxcd/flux2/blob/7b4940914c1e636ead7defb64e61ee050ee4207d/internal/build/build.go#L326

If I knew golang, I'd try to fix it, but I'm afraid I don't...

[2022-04-17 13:05] ehudyonasi commented on #2508
I have the same issue happening only while bootstrapping flux. It is only happening when the network policies and services are installed and then there is no DNS resolution (using coredns). I reproduced it on my cluster with creating fresh namespace called `flux-system` and deployed a busybox pod which could fetch dns records and after flux installation it is failing.

[2022-04-18 05:28] chrischen opened #2645 "No matches for kind "GitRepository" in version "source.toolkit.fluxcd.io/v1beta2""
### Describe the bug

All of a sudden I'm getting
`error: no matches for kind "GitRepository" in version "source.toolkit.fluxcd.io/v1beta2"`

when running `flux reconcile kustomization flux-system`

Kustomizations seem to still be syncing from the git repo, but running that command gives the error in the title.

Inside the generated Kustomizations:
[code]

`flux version` Output
[code]

Kubectl cli

[2022-04-18 12:14] hiddeco commented on #2645
[Flux `v0.28.x` moved to the `v1beta2` Source API](https://github.com/fluxcd/flux2/releases/tag/v0.28.0). You either need to update your cluster to match this version, or downgrade the CLI version to `v0.27.x`. Multi-version support in the CLI is not planned until Flux reaches GA.

[2022-04-18 21:09] chrischen commented on #2645
Cool I confirmed this was the issue. Upgrading to 0.28 caused it and in an attempt to fix it I manually changed the GitRepository manifest to say `apiVersion: source.toolkit.fluxcd.io/v1beta2` which then seemed to cause the issue even when using < 0.27 of flux client. I reverted the manifest change to `apiVersion: source.toolkit.fluxcd.io/v1beta1` and used 0.27 of flux client and it resolved this

[2022-04-18 21:09] #2645 closed

[2022-04-19 16:41] hiddeco opened #2650 "Update `github.com/hashicorp/terraform-exec` to `>=16.0.0`"
In #2649, all our dependencies except this module in the [Azure related end-to-end tests](https://github.com/fluxcd/flux2/tree/0e747790f920f5d873784ddc07cbcb768d5f2873/tests/azure) were updated, as it contains a breaking change.

`tfinstall` has been removed and needs to be replaced with https://github.com/hashicorp/hc-install. We call it exactly one time in [`azure_test.go`](https://github.com/fl

[2022-04-19 18:05] #2535 closed

[2022-04-20 09:53] hiddeco opened #2653 "Component update automation needs to include `tests/azure`"
At present, any time the [automation](https://github.com/fluxcd/flux2/blob/main/.github/workflows/update.yaml) bumps the API dependencies of the CLI, it does not include the separate set of dependencies in [`tests/azure`](https://github.com/fluxcd/flux2/tree/main/tests/azure). This needs to be handled separately by a human, as e.g. seen in [`6bbbf16`](https://github.com/fluxcd/flux2/commit/6bbbf16

[2022-04-20 10:14] hiddeco commented on #1910
This has been taken care of a long time ago already.

[2022-04-20 10:14] #1910 closed

[2022-04-20 10:33] makkes opened #2654 "Automate documenting controller flags at fluxcd.io/docs"
Currently, we do not document any of our controllers' flags at https://fluxcd.io/docs so users typically have to find out the available flags themselves, e.g. by running `docker run -it --rm ghcr.io/fluxcd/source-controller:v0.22.5 -h`.

The flags should be documented on a separate page under `https://fluxcd.io/docs/components/<component>/`.

A good example of CLI flag documentation is https://kub

[2022-04-20 11:56] onedr0p commented on #1522
I just upgraded to v0.29.0 and noticed that a ksutomization like this is no longer supported, is this safe to assume now?

[code]

I looked into it a bit more and discvoered this PR https://github.com/kubernetes-sigs/kustomize/pull/4453 which makes it seem like the below would work

[code]

But I am getting an error:

[code]

[2022-04-20 12:03] hiddeco commented on #1522
@onedr0p this is a newly introduced security constraint set too tight. I will get this sorted now, and ensure a regression test is added.

[2022-04-20 13:16] pjbgf opened #2655 "Multi-tenancy Improvements"
#### Context
Flux2 supports multi-tenancy, and users have been using it in production for [some time now].

The documentation around the subject covers a [bootstrap example] to help users kick start their multi-tenancy deployment. And also
how to implement control plane isolation with the [multi-tenancy-lockdown].

#### What's next

In summary, the documentation needs expanding to better inform us

[2022-04-20 14:13] jprecuch opened #2656 "postBuild string is sent to boolean entries like string failing kustomize build"
### Describe the bug

I'm not sure how to explain this but when we are trying to adjust "suspend" which is boolean on helmrelease using postBuild varaibles, kustomize validation (kustomize build) always complains about string being used instead of boolean.
We tested this with validate.sh script from https://github.com/fluxcd/flux2-kustomize-helm-example/blob/main/scripts/validate.sh
I'm reporting

[2022-04-20 14:50] AnaisUrlichs commented on #2629
@kingdonb sure 🙂 thank you!

[2022-04-20 15:49] mmckane commented on #1852
@stefanprodan any feedback on how this should work here? It seems like nothing is referencing the flux-system folder and running the kustomization file there to run the gotk-* files against the cluster on an ongoing basis, which breaks using the Git PR flow to update flux inside the cluster. The work around appears to either add a reference to the flux-system folder in the Kustomization file and p

[2022-04-20 15:49] hiddeco commented on #1522
A computer is currently doing the required work to produce a `ghcr.io/fluxcd/kustomize-controller:v0.24.1` image. Once available, I will patch the Flux CLI as soon as CI allows me to. When impatient, manually patching the kustomize-controller version in your Git repository would be a workaround.

[2022-04-20 16:34] hiddeco commented on #1522
Users running into issues after updating to `v0.29.0` should see smooth operation again with [`v0.29.1`](https://github.com/fluxcd/flux2/releases/tag/v0.29.1). Sorry about any inconvenience it may have caused, Terraform provider release will follow shortly.

[2022-04-20 19:57] stevewallone opened #2660 "Kustomization Path Deleted Causing Controller Error"
### Describe the bug

The below kustomization contains a `path`. If the contents of the path are deleted, that is, all files in the directory are removed, the kustomization controller throws a `no such file or directory` error (see below).

[code]

[code]

### Steps to reproduce

For example:
1. Create a directory
2. Add the directory to a Kustomization as the `path:`
3. Add a CRD manifest to the

[2022-04-20 20:47] hiddeco commented on #2660
By declaring the path, you state an expectation for it to exist. To create the behavior you are describing, you would thus truncate the directory contents, but not the directory itself.

[2022-04-21 15:16] JJGadgets opened #2664 "Push Flux CRD Schemas to another repo when release workflow is run"
To have completion and error checking to some extent in VS Code & Emacs LSP, the CRDs are added to the JSON schemas store. The schema store can take raw file links.

However, Flux currently exports the CRD JSON schemas in a tarball when a release is made. This doesn't allow users to add a hosted version of the schemas, meaning that users have to maintain the latest versions of the files manually a

[2022-04-21 16:17] antaloala opened #2665 "[New feat] Support dependency across Helm Releases also for helm-upgrade usecases"
Flux2 documentation on [HelmRelease dependencies](https://fluxcd.io/docs/components/helm/helmreleases/#helmrelease-dependencies) clearly states it does not account for upgrade ordering, explaining the reason for that:

``Note that this does not account for upgrade ordering. Kubernetes only allows applying one resource (HelmRelease in this case) at a time, so there is no way for the controller to k

[2022-04-22 09:05] mrgreyves opened #2667 "Source controller panic: runtime error: invalid memory address or nil pointer dereference"
### Describe the bug

Hello!
Installed flux versions of
flux: v0.29.2
helm-controller: v0.20.1
kustomize-controller: v0.24.2
notification-controller: v0.23.4
source-controller: v0.24.0

Periodically flux stops working with the following errors
[code]
Errors occur in the component source controller

Full log:
[code]

### Steps to reproduce

1. Bootstrap flux with gitlab repo
2. Check source control

[2022-04-22 09:11] hiddeco commented on #2667
Duplicate of https://github.com/fluxcd/source-controller/issues/680, addressed via https://github.com/fluxcd/source-controller/pull/683, release currently being build via https://github.com/fluxcd/source-controller/pull/684. CLI patch should be available within the next couple of hours.

[2022-04-22 09:15] hiddeco commented on #2667
To move forward now (the source-controller image is already published), you should be able to move the image tag to `v0.24.1` and see the issue resolved.

[2022-04-22 09:22] mrgreyves commented on #2667
Updated the image
Everything seems to be fine
Thank you very much =)

[2022-04-22 09:24] #2667 closed

[2022-04-22 10:44] hiddeco commented on #2667
Now officially available as https://github.com/fluxcd/flux2/releases/tag/v0.29.3 :-)

[2022-04-22 14:58] stevewallone commented on #2660
@aryan9600 @hiddeco Thank you for your time addressing this issue! I'm definitely impressed by the how responsive the flux community is.

Regarding this particular issue, I do see the reasoning and disagree based on my expectation as a user. I wouldn't expect an empty directory to cause an error. This was my expectation -
- Create a Kustomization pointing to an empty directory
- The Kustomization

[2022-04-25 07:31] aryan9600 commented on #2660
IMO, I don't think this is what we'd like KC to do here. KC operates on artifacts published by the Source Controller, which is considered as the absolute source of truth.  So if a folder does not exist in the artifact produced by Source Controller, I think it's fair for KC to assume that the Kustomization object is invalid. KC keeps track of only the resources it has applied in a previous reconcil

[2022-04-25 11:17] stefanprodan commented on #2660
The reason I chose to error out on dir not found, is that a typo in the path would wipe the whole cluster when GC is enabled. Reconciling invalid paths and triggering GC is not something I would consider. If the Flux community wants to change this behaviour then it must be done via a [RFC](https://github.com/fluxcd/flux2/tree/main/rfcs) as this change can have serious implications for current user

[2022-04-25 11:42] networkhell opened #2671 "SOPS secrets generated from ENV files are not getting decrypted"
**Describe the bug**
we are using the flux2 kustomize-controller with in-cluster decryption of sops secrets. I guess we hit an edge case where secrets are not getting decrypted. This problem only affects secrets generated from .env files with the kustomize SecretGenerator. When secrets of this kind are created from the base of the kustomization, these secrets are not decrypted by flux.

**Steps to

[2022-04-25 12:16] hiddeco commented on #2671
Decryption of files referenced in Kustomization files was refactored in the [kustomize-controller v0.24.0 release](https://github.com/fluxcd/kustomize-controller/blob/main/CHANGELOG.md#0240). Given this (and the extensive test coverage it now has), I expected your issue to be resolved by updating to latest Flux.

[2022-04-25 12:29] ar-qun opened #2672 "Allow providing custom URL to the Receiver to allow IaC for webhooks"
# Description
Currently, Receiver provides a randomly generated `url` via status. This however can't be picked up by Terraform. See related issue https://github.com/hashicorp/terraform-provider-kubernetes/issues/1699

# Request
Would it be possible to provide a url via a new field? This way the url can be generated in Terraform and know to IaC?

[2022-04-25 13:26] stefanprodan commented on #2671
Kustomize `bases` have been deprecated in favor of `resources` since 2 years now. Flux does not look at bases when scanning the file system for encrypted files.

[2022-04-25 13:41] daogilvie commented on #2456
+1 from me. Really happy with Flux generally, thanks for making a cool bit of software!

As for this issue specifically: we are also experiencing something similar, immediately after having done a rolling update of our kubernetes cluster.
We have just updated to 1.22.6 on GKE so is it possible there's something in this K8S version that is problematic for flux? We have a flux2 managed kustomization

[2022-04-25 14:16] cwrau opened #2673 "HelmRelease targetNamespace change doesn't delete old release"
### Describe the bug

When you set `spec.targetNamespace` the `HelmRelease` is successfully installed into that namespace

If you change that field afterwards, the `HelmRelease` will be installed into the new namespace, but also be left in the old namespace

### Steps to reproduce

1. Create `HelmRelease` with `.spec.targetNamespace=kube-system`
2. Wait for reconcilation
3. Change `spec.targetName

[2022-04-25 14:39] stevewallone commented on #2660
Good discussion! It's great to have the insight. I guess my basic understanding of the contract between flux and a user is that the state expressed in the "source" is the expected state that flux would reflect in the cluster. In my case, the expectation was the removal of a CRD from the "source" would trigger a removal of that CRD. I do see the reasoning that due to limitations within the implemen

[2022-04-25 15:50] hiddeco commented on #2672
The URL of the resource is not random, but can be predicted. It equals to `/hook/sha256sum(token+name+namespace)`, where token refers to the secret value retrieved from the `.spec.secretRef` resource.

[2022-04-25 17:03] davinkevin opened #2675 "Substitution isn't available in remote base/resource/component for kustomization"
### Describe the bug

Hi 👋 ,

To be honest, I open this as a bug just because the variable name and the documentations states the `PostBuild` is executed after the build, but it seems to not be true. And this add a limitation to flux as described in the title.

If I understand it correctly, the `postBuild` is executed [here](https://github.com/fluxcd/kustomize-controller/blob/ef77093efd9e863dfeee3

[2022-04-25 19:47] hiddeco commented on #2675
Remote resources are pulled in by Kustomize at build time, and are not visible to the kustomize-controller at any given moment. This means that variable substitution only works for files in Git (or any other source the Kustomization refers to).

I do not expect this to change, as it would require us to deal with fetching remote sources ourself, and most of the magic required for this is not availa

[2022-04-26 08:28] mdnfiras commented on #2386
i'm running into this problem after updating flux from `0.24.1` to `0.28.5`:

[code]
i'm running on gke `1.20`

[2022-04-26 09:26] networkhell commented on #2671
@stefanprodan thanks for that hint. I replaced all bases directives with resources and it seems to work as intended.
The only strange thing is that it seemed to work with all secrets but env files...
I will close this one anyways.

[2022-04-26 09:26] #2671 closed

[2022-04-26 09:30] stefanprodan commented on #2671
That's because we decrypt the env files before the build process, all the other secret file types are decrypted during the build. Anyway we should add to the docs a note on bases being deprecated and not used by Flux, why kutomize keeps them around after 2+ years I can't say.

[2022-04-26 11:05] antaloala commented on #2665
@stefanprodan should I maybe move this better to the "discussions" section to have a debate on it?

[2022-04-26 11:06] stefanprodan commented on #2672
You use the Terraform [sha256](https://www.terraform.io/language/functions/sha256) function to compute the URL as @hiddeco mentioned above.

[2022-04-26 11:12] stefanprodan commented on #2665
If you wrap the HelmReleases in Flux Kustomizations then the order will be respected for upgrades. Unlike helm-controller, kustomize-controller can do this because it [looks up the Git commit](https://github.com/fluxcd/kustomize-controller/blob/ef77093efd9e863dfeee31d98328a2ab09326e5a/controllers/kustomization_controller.go#L519-L521), then orders all Flux Kustomizations coming from the same sourc

[2022-04-26 11:41] kingdonb commented on #1852
The behavior of `flux bootstrap` is to create a `flux-system` directory in the cluster path that you specified, with three files in it, one of which is a Flux kustomization pointing to the empty cluster directory at the parent location of `flux-system`.

It's significant that the cluster directory is empty at this point, because the Flux Kustomization pointing at it (all Flux kustomizations do thi

[2022-04-26 11:49] kingdonb commented on #1852
(I just noticed that `flux tree ks flux-system` never shows `Kustomization/flux-system/flux-system` managing `Kustomization/flux-system/flux-system` – which is good, because that would be a circular dependency, and this is a recursive operation, you don't want to see an infinite loop in your tree! But in the difference, you can still see that `GitRepository/flux-system/flux-system` is either there

[2022-04-26 13:55] davinkevin commented on #2675
Ok, sad to hear that.

Small question, flux is not able to "build" everything using `kustomize` code and then do the substitution? I though [this](https://github.com/fluxcd/kustomize-controller/blob/ef77093efd9e863dfeee31d98328a2ab09326e5a/controllers/kustomization_controller.go#L700) was the call to kustomize to generate the whole set of YAMLs (following remote resource/base/components).

[2022-04-26 14:14] hiddeco commented on #2675
You are absolutely right, variable constitution happens _after_, decryption (which I worked on the past weeks) happens _before_.

Given this, I would expect your example to work. Can you provide the precise line in  the remote base which contains a variable that you expect to be replaced?

[2022-04-26 14:46] snahelou commented on #2386
Hello

Patch did the job 👍

[code]

Thanks

[2022-04-26 18:17] jbilliau-rcd commented on #1652
@stefanprodan  Can we not provide for this with an override argument or something? And what does secrets have to do with this? In our environment, we are using the GOTK to distribute changes to nonprod and prod environments, over 150+ clusters. While I can use `kustomize build` to see my kustomize files, I have no idea if the "final output yaml" is at all correct, which is what is most important.

[2022-04-26 19:11] ar-qun commented on #2672
@hiddeco @stefanprodan

Thank you very much! Tried it out and it of course worked :)

I went through the entire page and missed the obvious.

[2022-04-26 19:11] #2672 closed

[2022-04-26 19:57] kingdonb commented on #1652
@jbilliau-rcd The `flux build` and `flux diff` subcommands are new since this issue was filed. I think they already address the feature request.

Have you seen both of these features? I agree that `kustomize build` output is a bit too far away from the live production cluster, but `flux build` is different:

https://fluxcd.io/docs/cmd/flux_build/

[code]

This will get you the "final output YAML"

[2022-04-26 22:21] kingdonb commented on #1652
I think this issue is mostly closed by `flux diff` and `flux build`, which was released in January:

https://fluxcd.io/blog/2022/01/january-update/

The one remaining feature I see which is not already implemented by this is to diff a HelmRelease.

[2022-04-26 22:26] jmriebold commented on #2250
Just ran into this same issue after upgrading to EKS 1.22, using Flux v0.29.3. Unfortunately removing the `claimRef` isn't an option, as we use a number of manually created PVs with matching PVCs (backed by AWS EFS).

At the moment we're unable to manage these volumes with Flux, because after Flux reconciles them, Kubernetes decides there are multiple PVCs referencing the same PV, and all PVCs cha

[2022-04-27 00:04] dfallert-rcd commented on #1652
both `diff` and `build` do not render the full manifest. For instance, if you create a `Kustomization` object part of the `kustomize.toolkit.fluxcd.io` API, then perform a `flux diff` or `flux build`, it does not output the fully rendered manifest, but instead outputs the `Kustomization` object as is. For instance, the example below is the result of a `flux build`.

I want to see the rendered and

[2022-04-27 07:49] stefanprodan commented on #1652
@dfallert-rcd You need to upgrade all your Flux Kustomizations to the v1beta2 API released many months ago.

[2022-04-27 09:45] stefanprodan commented on #2675
The build happens at `secureBuildKustomization` not at `asYaml`.

[2022-04-27 09:58] davinkevin commented on #2675
Thank you @stefanprodan, so I need to check this again 🧐. I keep you updated as soon as possible

[2022-04-27 17:54] dfallert-rcd commented on #1652
I was hoping this would do it, but I just upgraded everything, and tried again, and got the same output. It just outputs the `Kustomization` object, rather then the final, post-patch result

[code]

[2022-04-27 18:50] punnarpulusu opened #2684 "Upgrade Flux to the Source v1beta2 API"
### Terrafrom upgrade

When using the [Terraform provider for Flux](https://github.com/fluxcd/terraform-provider-flux), you have to manually remove the `v1beta2` GitRepository from the TF state:

[code]

Did you mean to remove `v1beta1` from the terraform state file ??

[2022-04-27 18:56] hiddeco commented on #2684
You are absolutely right, this is also what the command actually does. I updated the discussion post. Thanks!

[2022-04-27 18:56] #2684 closed

[2022-04-27 19:47] Alxandr opened #2685 "flux-system services fail to reconcile with error "spec.clusterIPs: Required value""
### Describe the bug

I've been unable to reconcile my cluster for a while. It fails with the error:

[code]

I've tried to delete the resources in question (the 3 services in the flux-system namespace) and re-create them using `flux install` anew, but I always end up with the same problem. I also get the same issue just straight up running `flux install` (without first deleting the 3 services).

[2022-04-28 04:57] mmckane commented on #1852
@kingdonb this makes some sense as to what may be happening for us and I think clarified some of my suspicions. Here is exactly what is happening from our side of things and where we need to possibly adjust.

1. We are pre-loading the kustomization.yaml /config/clusters/cluster-1/ as in that folder we specify the following kustomization file as we handle most of our transforms using the transforme

[2022-04-28 06:50] stefanprodan commented on #2685
`spec.clusterIPs` is not a required field, I guess this is a K3s bug. Every Flux release is tested, the e2e tests are performed on Kubernetes Kind, AKS, GKE and EKS.

[2022-04-28 14:05] souleb opened #2688 "Flux build kustomization with a local kustomization file should not need a kubeClient"
### Describe the bug

When using `flux build` with the flag `--kustomization-file`, we don't fetch the `kustomization` file from the cluster, so no connection is needed. Today we still request a kubeClient in this scenario and we should not.

### Steps to reproduce

flux build kustomization my-app --path ./path/to/local/manifests --kustomization-file ./path/to/local/my-app.yaml

### Expected behav

[2022-04-28 14:33] stefanprodan commented on #2688
I don't see how you could run build without having access to the cluster to fetch configMaps/secrets for variable substitutions.

[2022-04-28 14:41] souleb commented on #2688
True! Going to close this.

[2022-04-28 14:41] #2688 closed

[2022-04-28 15:44] anoland opened #2690 "kustomize controller is confused when it encounters SOPS masked data."
### Describe the bug

I was figuring out how to use SOPS and encountered this issue. When trying to verify that the data was getting set I used `flux build` to recreate the secret. I checked in and pushed the generated yaml

[code]
I didn't quite realize the string "KipTT1BTKio" wasn't what I really wanted.
echo -n "KipTT1BTKio=" | base64 -d
**SOPS**

Kustomization shows this ambigious error.
`kus

[2022-04-28 15:57] anoland commented on #2690
FWIW,
This is inconsistent with running them by hand.
[code]

[code]

[code]

[2022-04-28 15:57] hiddeco commented on #2690
I expect this to be solved if you update to Flux `v0.29.5` released today, which includes https://github.com/fluxcd/kustomize-controller/pull/636.

[2022-04-28 16:40] anoland commented on #2690
Yup.

[code]

[2022-04-28 16:40] #2690 closed

[2022-04-28 17:54] dfallert-rcd commented on #1652
To help better explain what I would like to see, vs what's available:

Currently:
- When doing a flux build, or a flux diff, the output **WILL** render the post patch results of patches applied via Kustomize objects from the **kustomize.config.k8s.io** group.

- When doing a flux build, or a flux diff, the output **will NOT** render the post patch results of patches applied via Kustomize objects f

[2022-04-28 18:29] souleb commented on #1652
This is implemented in `flux build`.  The code is here: https://github.com/fluxcd/flux2/blob/main/internal/build/build.go#L291

[2022-04-28 19:20] 0ur0b0r0s commented on #2620
### Facing the same issue
Having the same problem here, but with a different resource, in my case, it's Kibana. Recently, I had to realocate my Elasticsearch stack (elasticsearch, kibana, filebeat, heartbeat), to use a node from a different nodepool. After I commited my changes to git, realocating all the resources of my stack to the other node, flux reconfigured all these resources, including Kib

[2022-04-28 20:01] dfallert-rcd commented on #1652
My current experience tells me otherwise.

To be clear, you're stating that if I have this object:

[code]

Then I run `flux build kustomization <parameters>`

I should be getting a fully rendered, post-patch output like below?

[code]
Because if that's the intended result, then I am not seeing this behavior.

Instead, the only thing related to istio-controlplane I see outputted, is the Kustomize

[2022-04-28 20:20] kingdonb commented on #1652
@dfallert-rcd Can you show the `<parameters>`? That's where I suspect the error has been made.

If you have your current working directory at the root of your Flux repo clone, and your Kustomization is called `flux-system` with the `spec.path` of that Kustomization set to `./clusters/my-cluster` then you should run

[code]

to see the build result, or
[code]

The expected output is like this:

[co

[2022-04-28 21:03] dfallert-rcd commented on #1652
`flux -n flux build kustomization istio-install --path ./sandbox`

^ I'd like to point out here that you are exactly replicating my issue with the `flux diff`. Notice that the object that it's diffing is the flux Kustomization object, and the final rendered, post-patched result

[2022-04-28 21:08] kingdonb commented on #1652
Is the `./sandbox` path the same path that was listed in `istio-install`'s `spec.path` field?

They should match. You are passing the content that `istio-install` will build in with `--path`, not the filesystem path where the `istio-install` manifest is located. This should be the same path you would pass to `kustomize build`.

Mine is not reflecting any error, it is showing the diff in the file t

[2022-04-28 21:48] dfallert-rcd commented on #1652
I think this may be the issue then. According to how I interpret [the docs](https://fluxcd.io/docs/cmd/flux_build_kustomization/#flux-build-kustomization), `--path` is the path to the local manifests.

Taking what you just told me, and applying it to my other attempts, I was able to get the output I expected and wanted out of both `flux diff` and `flux build` via `flux -n flux diff kustomization i

[2022-04-29 07:44] Alan01252 commented on #2250
Same issue here, it feels like a regression in flux because this worked without problems when the cluster was running 1.21 but I understand the complications.

[2022-04-29 09:19] stefanprodan commented on #1652
There is no way to do this from the CLI. Flux itself does not do it on the server-side, each Flux Kustomization is reconciled independently. Please open a new issue if you want.

[2022-04-29 09:31] stevejr commented on #2688
@stefanprodan - is there a way to have an offline mode for those that do not use configmaps or secrets for their variable substitutions?

[2022-04-29 18:22] kingdonb commented on #1852
This makes sense now. You cannot have a `kustomization.yaml` in your cluster root that does not also include `flux-system`, unless you want for Flux to not manage itself, which is apparently what you're getting.

If you leave the `kustomization.yaml` out of the cluster root as Flux creates the bootstrap directory (empty except for `flux-system/`, if you haven't pre-loaded it with anything) you can

[2022-04-30 09:42] kingdonb commented on #2250
I have tried a number of different CSI providers and all of them seem to permit managing PV and PVC statically without setting `ownerRef` as a user. Those fields are meant to be set by the kubernetes controller manager.

In the `PersistentVolumeClaim` I make sure that `spec.volumeName` is set:

[code]

In the PV, which I captured through `kubectl neat`, there are a few annotations that need to be

[2022-04-30 15:20] kingdonb commented on #2250
Maybe the discussion can continue in #2456 as there seem to be others with similar issues, (please check in there or open a new issue.)

[2022-04-30 16:58] jmriebold commented on #2250
Thanks for the suggestions @kingdonb. I thought it was required to set owner, but maybe I was wrong. I'll do some testing and report back in the other issue thread.

[2022-04-30 21:48] jmriebold commented on #2456
@kingdonb, RE: your suggestion in #2250, you were absolutely correct: `claimRef` is not required, and without it Flux has no problem with the PV(C)s. In hindsight this makes perfect sense since the PVC has a selector, which is enough to bind, but since I'd always had the field there and it was referenced in some articles I read, I assumed it was necessary.

Thanks a bunch, this solves our issue co

[2022-05-01 10:47] Robbilie commented on #2456
I am using local path pvs and I want to prevent pvcs from being bound to them from inside namespaces other than what I configured, that's why I was using claim ref. I don't really see an alternative to my problem though 😕

[2022-05-01 15:24] jmriebold commented on #2456
@Robbilie, would a selector not work for some reason?

[2022-05-01 16:55] Robbilie commented on #2456
I can pin the PVC to a PV (just by setting the volume name, doesn't even need the selector) but I want to enforce only this one PVC being allowed to be bound to the PV. The claim ref is on the PV side so no other PVC is allowed to be bound to it. The volume name/selector on PVC side doesn't prevent this...

This way if I allow someone to create pvcs they can simply bind to the PV and write on the

[2022-05-01 17:16] jmriebold commented on #2456
Kubernetes itself enforces that though. From the [docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#binding):

The `claimRef` field, if unset on PV creation, will be set as soon as a PVC binds the volume (e.g. via a selector). I just tested this a few minutes ago, so unless local path volumes work differently, a volume name or selector on the PVC should be enough.

[2022-05-01 17:41] Robbilie commented on #2456
Yeah but what if there are two pvcs, isn't that a race condition and it's possible the "malicious" one binds first?

[2022-05-01 18:03] jmriebold commented on #2456
Well yeah I guess so, but if that's really the situation you've likely got bigger problems than PVC binding.

Regardless, @kingdonb, after reviewing the docs, I think Flux's behavior here _is_ still a bug of some sort. According to the [docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume):

This is essentially the situation that @Robbilie is talking a

[2022-05-02 10:34] makkes commented on #2692
I just realized I should've created a new issue in flux2 but instead transferred the existing one from kustomize-controller, effectively making the discussion hard to reason about. Sorry for that

[2022-05-02 14:58] kingdonb commented on #2456
@jmriebold Thanks for finding that! I did not know, maybe this is an issue we need to handle somehow.

You might try the `ssa: merge` annotation described here:
https://fluxcd.io/docs/faq/#how-to-patch-coredns-and-other-pre-installed-addons

In general the disposition of Flux has changed from "will merge with externally provided configuration" to "in general we override it, unless you specifically

[2022-05-02 16:49] IvanKuchin commented on #2456
@kingdonb thank you for workaround.

I'm out of office now, give me please few days to test it out.

[2022-05-02 18:17] angelokurtis opened #2693 "Updating the `spec.ignore` field of a `GitRepository` has no effect"
### Describe the bug

When editing a `GitRepository` resource whose the `spec.ignore` field is already set the new ignored paths are not updated and the configuration has no effect.

### Steps to reproduce

1. Install Flux
2. Create a `GitRepository` setting the `spec.ignore` field. eg:
[code]
3. Check if the created resource is ready. eg:
[code]
4. Then, remove the  `spec.ignore` field. eg:
[code

[2022-05-02 22:08] uclaeaslam commented on #2386
I've run into this issue too. I upgraded from Flux v1 to v2 (latest 0.29.3). Everything appeared to be working fine (after modifying all the yamls to use default namespace since v2 requires namespace). A few days later, I noticed that I'm getting reconciliation errors about the immutable fields

[2022-05-03 04:52] stefanprodan commented on #2386
@uclaeaslam it seems that Flux v1 took ownership of fields it didn’t manage (I suspect a this is a kubectl bug). To fix this you need to remove those fields with a patch, please see the examples in this thread. If after patching, the problem persists, please open an issue in kustomize-controller repo.

[2022-05-03 07:27] antaloala commented on #2665
@stefanprodan could you confirm my understanding is right .. or correct me where being wrong?
(thanks a lot in advance ;-)

[2022-05-03 08:01] daogilvie commented on #2456
@jmriebold would you expect this to work if we were using the `volumeName` field as per [Reserving A Persistent Volume](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume) or is that going to fall foul of the same problems as the `claimRef` approach. I ask as we are using `volumeName` and the issue persists. I'll try your suggestion to use a spec today als

[2022-05-03 08:03] stefanprodan commented on #2665
@antaloala yes that sounds right to me

[2022-05-03 08:07] jmriebold commented on #2456
@daogilvie are you using both `volumeName` and `claimRef`? If so, yes, I would think removing the `claimRef` field would be enough, but haven't tested myself.

[2022-05-03 08:12] daogilvie commented on #2456
Thanks for replying so quickly!

We are using only `volumeName`.

We _were_ using just `claimRef` when this issue first hit us (as we had been for some time), and then we swapped to `volumeName` when we thought that might work better. It is also the "more gooder" way of doing our use case, apparently.

I'll report back if the selector solves the problem for us or not 👍

[2022-05-03 08:19] jmriebold commented on #2456
Just `volumeName` and your volumes are still getting `Lost`? That's surprising, I would've expected that to work fine.

[2022-05-03 08:21] daogilvie commented on #2456
Yes, we expected it to work too 😄
It is entirely possible we have got some sort of mixed state, or other issues with the configuration. I'll confirm as best I can exactly what works and what doesn't over the course of today, just as soon as my team agrees to let me spin things up and down on the staging cluster with wild abandon.

[2022-05-03 09:30] daogilvie commented on #2456
Using selectors doesn't work for us, but in a new and different way.

When the following input is provided to flux (just the relevant PV/PVC shown here):
[code]

...we now get the pods and pvc stuck in "Pending", where the pods aren't scheduled onto a node because the claim won't bind, and the claim won't bind because:

[code]

And when we go to look at this "already bound" volume itself, it has t

[2022-05-03 11:12] antaloala commented on #2665
Thanks a lot. We can then close the issue (maybe I can do (?) ... if you tell me how I am not bothering you anymore asking to close an issue I raised ;-)

Hmm ... or maybe we can use it to trigger an update in flagger doc, explaining this possibility to cope with the limitation currently documented in [HelmRelease dependencies](https://fluxcd.io/docs/components/helm/helmreleases/#helmrelease-depen

[2022-05-03 12:09] antaloala commented on #2665
Let me work in a doc PR (for the FAQ section) to cover this (I just forked the flux2 doc repo).
Posting the PR here when having it ready.
Is it ok for you to do like that?

[2022-05-03 12:13] stefanprodan commented on #2665
You need to fork the https://github.com/fluxcd/website repo, add a new FAQ entry under Helm, **signoff** your commit, then open a PR.

[2022-05-03 12:47] hiddeco opened #2696 "Move to Go 1.18"
Given Go 1.18 has been out for some time now, and seems to be stable expect for some minor issues with the performance of the [newly introduced Generics](https://go.dev/doc/tutorial/generics), we should start moving to it.

This would also allow us to move to the most recent version of the `github.com/Azure/azure-sdk-for-go/sdk/*` modules, which require Go >=1.18.

## :spiral_notepad: Projects

##

[2022-05-03 14:50] kingdonb commented on #2456
Now I see what you're doing is not what I expected:

[code]

Is your intention here to enforce that the claim must come from the named namespace? I do not think you can count on this behavior to work the way you want, I've never seen it documented to work as you describe.

If you were going to specify a `claimRef` then I think you'd need to specify the whole `claimRef` for it to have an effect. Bu

[2022-05-03 15:32] nitzek opened #2697 "Overview of available annotations"
It would help (it would certainly help me) to get an overview of the available annotations if there was a central (or e.g. per controller) overview/table of the available annotations.

Currently the annotations are spaced out across the various features. This adds more context to annotations but impedes findability.

I suggest adding a table, e.g. to the cheat sheets section, containing per availa

[2022-05-03 15:41] daogilvie commented on #2456
Hi @kingdonb — thank you for this! I had missed that as it is actually added by a Kustomization config and is not included in the main base yaml that I've been editing. I'll try this whole thing again having taken that out — we found that we needed that for the claimref method to work previously, it isn't something we've deliberately left in when trying the direct bind methods. It could well be ca

[2022-05-03 23:21] uclaeaslam commented on #2386
Patching did the trick

The reason I thought it didn't work was because flux wasn't rerunning the reconciliation. I had to do
`flux suspend kustomization flux-system`
`flux resume kustomization flux-system`
After that, it retried.

[2022-05-04 03:58] masterkain opened #2699 "cannot upgrade to 0.30.0 on macOS"
### Describe the bug

I get an error when trying to upgrade clusters to flux 0.30.0, macOS 12.3.1, flux installed via homebrew

### Steps to reproduce

[code]

### Expected behavior

upgrade as usual

### Screenshots and recordings

_No response_

### OS / Distro

macOS 12.3.1

### Flux version

flux: v0.30.0

### Flux check

[code]

### Git provider

GitHub

### Container Registry provider

_No r

[2022-05-04 05:25] robertpcontreras-ts commented on #2699
Getting the same error

[2022-05-04 06:41] comjf commented on #2699
I can confirm that a similar error appears when running `flux bootstrap github`. Same OS & cli version as OP.

[2022-05-04 07:32] stefanprodan commented on #2386
@uclaeaslam the reconciliation interval is set to 10 minutes. You can trigger it with a git commit or with the CLI:

[code]

[2022-05-04 07:38] hiddeco commented on #2699
Should be solved by updating to `v0.30.1`.

[2022-05-04 08:18] mrgreyves commented on #2699
Hi!
Same problem but on flux version 0.30.1
OS macOS 12.3.1
A little more information:
[code]

[code]

[code]

Should open the issue again =)

[2022-05-04 08:29] kallaics commented on #2699
/reopen
Same issue with Fluxcd 0.30.1
First time works well, but after if I am running the flux uninstal land try to bootstrap again, then it will be reported a same issue.

OS: MacOS 12.3.1 (Monterey)
Flux version: 0.30.1
FluxCD installed via Homebrew on Mac

Command:

[code]

[code]

Flux check output:
[code]
And nothing happens I need to push the ctrl + c to escape the command.

[2022-05-04 08:32] hiddeco commented on #2699
@aryan9600 is working on a patch which was added for tests on macOS before to kustomize-controller. This should not take too long to get rolled out.

[2022-05-04 09:58] #2699 closed

[2022-05-04 11:45] Robbilie commented on #2456
@kingdonb i created a pv and pvc with claimref on the pv and the ssa merge annotation and its lost too :/

[2022-05-04 12:01] kallaics commented on #2699
Upgrade look works well with version 0.30.2
Thanks.

[2022-05-04 12:06] abstractpaper commented on #2074
Page 540: https://docs.aws.amazon.com/eks/latest/userguide/eks-ug.pdf

Helm controller's pod was 91 days old when this problem happened. Restarting the pod and refreshing the service account's token did bring it back to normal.

[2022-05-04 12:43] stefanprodan commented on #2074
@abstractpaper this feels like an EKS bug, kubelet failed to renew the token and Flux ends up using one that has expired.

Can you please see the troubleshooting guide here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md#troubleshooting

[2022-05-04 15:10] daveoy opened #2704 "Kustomizations without a base do not apply"
### Describe the bug

according to [the FAQ](https://fluxcd.io/docs/faq/#how-to-patch-coredns-and-other-pre-installed-addons) we should be able to patch arbitrary pre-installed resources using kustomize objects.

I have not been able to patch any using the (limited) instructions in the FAQ.

### Steps to reproduce

1. install flux
2. create kustomization with patchesStrategicMerge
3. reconcile kus

[2022-05-04 15:21] stefanprodan commented on #2704
Delete the `kustomization.yaml`, and let Flux sync the `weave-liveness.yaml`.

Patching in-cluster objects is not a Kustomize feature but a Flux one. Kustomize is all about files on disk, you can't patch something that's not on the file system with it.

[2022-05-04 16:18] stefanprodan commented on #2704
`flux tree ks flux-system` should tell if it manages the weave-net daemonset. Can post `tree ./clusters`? I suspect you placed the file in a dir that's not actually synced. The file should be on the same level with the `flux-system` dir, for example in here: https://github.com/fluxcd/flux2-multi-tenancy/tree/main/clusters/production

[2022-05-04 18:52] daveoy commented on #2704
source and kustomize object is here:
[code]

tree of this cluster (there are many in the repo):
[code]
have also had no success with the weave-liveness.yaml inside the flux-system directory.

`flux tree ks flux-system` does not list the weave-net daemonset

[2022-05-04 20:48] lunderhage commented on #2704
I have this exact problem trying to patch a deployment which ofc is a result of applying a helmrelease.

[2022-05-04 20:50] daveoy commented on #2704
So yes this is actually my next question. I figured the answer to this issue would illuminate that.

[2022-05-04 21:35] Cellebyte commented on #2612
I will reopen the bug if it occurs again.

[2022-05-04 21:35] #2612 closed

[2022-05-05 06:56] stefanprodan commented on #2704
@lunderhage @daveoy to patch any resource in a HelmRelease you can use postRenderers, docs here:  https://fluxcd.io/docs/components/helm/helmreleases/#post-renderers

[2022-05-05 06:58] stefanprodan commented on #2704
@daveoy this path is wrong `path: ./<clustername>/flux-system` It should point to the cluster dir. You may want to start fresh with `flux bootstrap` and check out the example repos e.g. https://github.com/fluxcd/flux2-kustomize-helm-example

[2022-05-05 11:37] daveoy commented on #2704
I have arranged my git repo and modified my kustomize objects to solve a teardown / first-run dependency cycle situation. I have added kustomize objects to point at the rest of the folders in my repo with dependsOn attributes as required.

I will attempt to reset the flux-system kustomize object as best I can to accomplish this patching by following the example you posted, however shouldn't I be a

[2022-05-05 11:54] stefanprodan commented on #2704
Yes for sure, also adding that file to `flux-system` dir and including it the `resources` array will have the same effect.

[2022-05-05 11:58] lunderhage commented on #2704
Adding the patch in the helmrelease under postRenderers sorted my problem. Thank you for your help!

[2022-05-05 12:19] daveoy commented on #2704
trying this out, i had the same thing happen -- my patch is not applied and there are no errors:

helmrelease:
[code]
is there a kustomize setting im missing here?

[2022-05-05 12:20] daveoy commented on #2704
@stefanprodan are you suggesting i add the strategic merge formatted patch under 'resources'?

[2022-05-05 12:34] stefanprodan commented on #2704
Yes, you may need to add the pod label selectors too, like in the CoreDNS example.

I think the namespace is injected at apply time. You can use a patch and target the service by name only. On my Istio cluster this works fine:

[code]

Note that I'm using a different chart called gateway, so you need to map the name to your service.

[2022-05-05 16:06] daveoy commented on #2704
@stefanprodan as expected flux appears to be attempting to apply my patch as a complete yaml deployment:

[code]

your solution for the postRenderer for my helmrelease absolutely solves that use case for me since the helmRelease provides the base for the kustomization. adding my weave-liveness.yaml strategic merge formatted patch under resources however, should be telling kustomize that that file

[2022-05-05 16:20] stefanprodan commented on #2704
@daveoy Flux performs a 3-way-merge, so yes you need to copy all the DaemonSet required fields in Git. The strategy is `ssa: merge`, maybe in the future we would add `ssa: patch`, but right now as with CoreDNS and other addons, the required fields must be placed in Git.

[2022-05-05 16:33] daveoy commented on #2704
@stefanprodan  okay if that's the case then, do you have a list of required fields for daemonsets to be merge patched or shall i just take the original install yaml and put it here -- cause if im going the latter route i guess for this service i could just add my patch to my weave install yaml at cluster creation time, but that doesn't answer my question about this issue in general.

[2022-05-05 18:57] daveoy commented on #2704
i have added the image field to the one container in this daemonset i'd like to merge into (weave has a few in  the containers list) hoping that it would merge and this has recreated the daemonset as described exactly in the file without merging anything as expected since the patch was specified in the 'resources' attribute of the kustomzation.yaml.

[2022-05-06 06:58] hareeshmu opened #2709 "kustomize build failed: accumulating resources"
### Describe the bug

Most of the time seeing below error:

`    message: 'kustomize build failed: accumulating resources: accumulation err=''accumulating
      resources from ''cert-manager'': read /tmp/kustomization-2262966/cluster/crds/cert-manager:
      is a directory'': recursed accumulation of path ''/tmp/kustomization-2262966/cluster/crds/cert-manager'':
      accumulating resources: accum

[2022-05-06 10:06] pjbgf commented on #1320
This is now fixed based on:
- [upstream changes](https://github.com/golang/crypto/blob/e4b3678e5f38521e67eba223ddd1902ceb3a303c/ssh/common.go#L63-L67) to support and prefer safer key exchange algorithms
- The new `--ssh-kex-algos` flag which allows users to define their own set of preferred algorithms (provided they are supported by go crypto). xref:
  - https://github.com/fluxcd/source-controller

[2022-05-06 10:06] #1320 closed

[2022-05-06 14:22] #2610 closed, assigned to aryan9600

[2022-05-06 17:12] xaque208 commented on #1522
Hi, day 1 as a new user, I'm wondering if this report belongs here.  I am also seeing a duplicate key.

[code]

I do indeed have multiple InternalIP addresses.

[code]

[2022-05-06 21:32] kingdonb commented on #2456
@Robbilie I don't think anyone else needed to set `claimRef` to get the binding to happen by `volumeName` in the end.

I noticed you set `ssa: merge` on your PersistentVolumeClaim. I don't think PVCs can be mutated after they are created. What is the purpose of that annotation there, I wonder did you use `Kustomization.spec.force` to get that applied?

If so, it's not too surprising if your PVs go

[2022-05-06 21:32] #2456 closed

[2022-05-07 19:29] JJGadgets commented on #2664
Any traction on this?

[2022-05-08 20:41] seh commented on #2620
This may be related to kyverno/kyverno#2711, for which there's a fix in the works.

[2022-05-09 07:59] jprecuch opened #2714 "Add option to disable auto helmrelease update on configmap generator valuesFrom"
### Describe the bug

Currently based on documentaion https://fluxcd.io/docs/guides/helmreleases/#refer-to-values-in-configmaps-generated-with-kustomize
"It is possible to use Kustomize Configmap Generator to trigger a Helm release upgrade every time the encoded values change."
There is no option how to disable basic functionality of valuesFrom configmap generated values.yaml.

Would it be possibl

[2022-05-09 08:16] jprecuch commented on #2709
This normally means that you might have conflicting kustomization.yaml entries rwhere there are 2 references for same path/resources . This is hard to troubleshoot without really seeing your files definitions.
It's best to review all the files that it complains about

[2022-05-09 08:56] stefanprodan commented on #2709
`net/http: TLS handshake timeout` this means Flux can't reach GitHub, I guess your cluster egress is broken.

[2022-05-09 13:38] gavinclarkeuk opened #2720 "Provide a latest tag on docker images"
It would be useful to have a `latest` tag on docker images of the latest stable release. My use case is specifically for the cli, but probably makes sense for all the images.

We use CI to run flux diffs against PRs,. and to upgrade flux on our clusters each week. To ensure we are on the latest flux client version we have to install it as part of our CI pipeline, but it would be much cleaner to ju

[2022-05-09 13:45] stefanprodan commented on #2720
We provide a [script](https://github.com/fluxcd/flux2/blob/main/install/flux.sh) for installing the latest CLI and a [GitHub Action](https://github.com/fluxcd/flux2/tree/main/action), both fetch the latest version using the GitHub releases API. You could use one of two options or adapter your CI job to get latest for GitHub.

[2022-05-10 11:00] groenator commented on #2405
Hi,

Setting the env in the Openshift operator subscription to:
[code]
Would fix this issue. The last version of the operator is changing the `$HOME` path to `/`, because of this sops is not able to decrypt the secrets because is not reading the AWS creds profile correctly.

Thank you guys for your help.

This issue can be closed.

Regards,

[2022-05-10 11:03] stefanprodan commented on #2405
@groenator thanks for posting the solution for Openshift.

@aryan9600 we need to add this to the kustomize-controller docs in https://github.com/fluxcd/kustomize-controller/pull/641

[2022-05-10 11:07] groenator commented on #2405
@stefanprodan you are welcome!

[2022-05-11 08:53] ahmad-shams opened #2724 "storageClass parameters in values file is ignored"
### Describe the bug

When deploying Jenkins to eks using fluxcd, storageClass parameters provided via values.yaml file is ignored and after deployment, the persistent volume is cretaed on the default StorageClass and not the StorageClass provided at values.yaml

when using same values.yaml file and deploying jenkins using helm cli tool, then deployment is behaving ok and the provided StorageClass

[2022-05-11 09:20] stefanprodan commented on #2724
Please post here the HelmRelease YAML as you have it in Git, please use GH code blocks so we can see the indentation.

[2022-05-11 10:13] ahmad-shams commented on #2724
`apiVersion: v1
kind: Namespace
metadata:
  name: common
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: jenkins
  namespace: common
spec:
  url: https://charts.jenkins.io
  interval: 10m
---
apiVersion: v1
kind: Namespace
metadata:
  name: ci-staging
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jenkins
  namespace: ci-s

[2022-05-11 10:25] hiddeco commented on #2724
Your `.spec.chart` is not valid, as `valuesFrom` is not a valid field. The `.spec.chart` only knows `valuesFiles`, which can be used to rebuild the chart using a (composition of) alternative values files included in the source.

`valuesFrom` should be used on the `.spec` of the `HelmRelease` itself, please read the documentation on values: https://fluxcd.io/docs/guides/helmreleases/#refer-to-value

[2022-05-11 10:27] stefanprodan commented on #2724
@ahmad-shams you may want to use this script to validate all Flux YAMLs before pushing to Git: https://github.com/fluxcd/flux2-kustomize-helm-example/blob/main/scripts/validate.sh

[2022-05-11 12:27] mmusnjak opened #2725 "Notifications repeatedly sent for unchanged repositories"
### Describe the bug

I’m seeing repeated notifications for a single resource being updated, from the same commit. The notifications appear every 5-6 minutes
This is happening for only one resource in only one (of many) kustomizations deployed in the cluster, and another cluster with identical config doesn’t send those alerts.
Manually running flux diff from the CLI finds no changes, and comparing

[2022-05-11 13:08] ahmad-shams commented on #2724
Thanks, I will go through the answer

[2022-05-11 13:08] #2724 closed

[2022-05-11 14:38] gavinclarkeuk opened #2726 "No way to perform flux bootstrap using tags"
### Describe the bug

The GitRepository api supports `spec.ref.tags` to point flux to a specific tag, however there is no way of providing a tag to the flux cli bootstrap command. If you've modified the GitRepository to use tags then it will be overwritten if you upgrade flux by using the bootstrap command again.

### Steps to reproduce

1. use `flux bootstrap github` command to set up flux with a

[2022-05-11 19:51] Alxandr commented on #2685
After spending a grand old time rebuilding my entire cluster (cause it turned out that upgrading k3s as I was running it was not trivial) things seems to be working again. Seems I was just really unlucky with a series of events. Sorry for the wrong report and thanks for your time :)

[2022-05-11 19:51] #2685 closed

[2022-05-12 07:13] cr1cr1 commented on #2541
I do not see the issue you have described. To me, while it was a failing state, the counter was > 0, then once fixed, went back to 0. Due to the nature of that "Stat" graph, it will show you a "lump" as a history subgraph.

![image](https://user-images.githubusercontent.com/11889198/168012898-c2fb52a6-1352-4a3f-81e0-e81807ab721f.png)

[2022-05-12 09:01] rfftrifork opened #2728 "Please get rid of your CLI and use the standards"
### Describe the bug

The existence of a cli for managing and installing Flux is a problematic and legacy pattern, following reasons

*  Why do I even need this? Let me state the obvious, there's reasonable standards for this that could be followed
* A CLI requires me to learn a new set of commands that I only use for one specialised task
* If I (as most people do or are moving towards these days)

[2022-05-12 09:07] stefanprodan commented on #2728
If you don't like our CLI then don't use it. You can install Flux with [kubectl](https://fluxcd.io/docs/installation/#dev-install).

[2022-05-12 09:07] #2728 closed

[2022-05-12 09:07] balonik commented on #2620
Yes, my issue is related to the linked kyverno issue, where kyverno updates `spec` of the Policy and Flux updates it back, in never ending circle.

[2022-05-12 09:11] stefanprodan commented on #2620
I've reached out the Kyverno team and they said this will be fixed in their next minor version. Kyverno will not update the `spec`, instead it will update the `status` sub-resource, which Flux expects from other controllers.

[2022-05-12 09:23] hiddeco commented on #2728
The CLI is complementary, and we actually follow standards (for a precise list, see: https://github.com/fluxcd/pkg/tree/main/runtime#supported-standards).

As Stefan already suggests, Flux can be installed without the CLI using plain YAML manifests. All of our controllers also have these individually published (see e.g. assets in https://github.com/fluxcd/source-controller/releases/tag/v0.24.4). I

[2022-05-12 11:30] valeriano-manassero commented on #2074
I can confirm same problem here on `EKS v1.22.6-eks-7d68063` . Not sure if it's interesting or related, but, after moving to 1.22 authentication for client changed from `client.authentication.k8s.io/v1alpha1` to `client.authentication.k8s.io/v1beta1` .

[2022-05-12 13:23] FofM opened #2730 "Upgrade of Flux on AKS cluster doesn't work as per the documentation"
### Describe the bug

I tried to upgrade Flux twice from v0.27.2 to v0.30.2 on an AKS cluster running k8s version 1.23.3 (upgraded from 1.21.4) by following the [documentation](https://fluxcd.io/docs/use-cases/azure/#flux-upgrade).

On both occasions the upgrade step resulted in flux components being wiped from the AKS cluster. I tried to redeploy it using the kubectl apply -f components.yaml, whi

[2022-05-12 17:22] kingdonb commented on #2720
I think in general the Flux project takes a stance against `latest` tags because they are impractical for a lot of Flux-specific use cases. I was looking for the FAQ entry about it, but all it talks about is how the timestamps must be present in the string tag in order to facilitate image update automation (which isn't really relevant here.)

Should we keep this open, or close as wontfix?

[2022-05-12 17:31] kingdonb commented on #2714
If you want to stop the HelmRelease from reconciling its inputs, the only way to do that currently is to `flux suspend` the resource. It's not really clear what you're trying to accomplish, could you please elaborate about the goal of this change?

In general we do not want to provide multiple ways to disable Flux resources, since that would make for surprising behavior that only occurs when you i

[2022-05-12 17:42] kingdonb commented on #2709
Please let us know if this turns out to be the case or not. Since it seems likely to be an issue with your cluster networking, I'm closing this. (We can reopen if that's not the case.)

[2022-05-12 17:42] #2709 closed

[2022-05-12 18:39] kingdonb commented on #2720
The Flux github action provides a model for how to download the latest flux; I think that caching is the right idea, if you can put a check for cache between this line:

https://github.com/fluxcd/flux2/blob/e09078f6979fb97d255e4b2178611de7d6f7553d/action/action.yml#L28

and this line:

https://github.com/fluxcd/flux2/blob/e09078f6979fb97d255e4b2178611de7d6f7553d/action/action.yml#L32

it will prev

[2022-05-13 16:22] M-Gregoire opened #2735 "Kustomization path fails with a set"
### Describe the bug

### Context

I'm trying to run only a specific YAML from a folder, inside a Git Repository

### Documentation

The documentation of the [Kustomize](https://fluxcd.io/docs/components/kustomize/api/#kustomize.toolkit.fluxcd.io/v1beta2) API specifies the following:

path (string) | (Optional)Path to the directory containing the kustomization.yaml file, or the set of plain YAMLs

[2022-05-13 16:38] M-Gregoire commented on #2735
#### Note:
Doing something like:
[code]

works well.

[2022-05-13 17:40] hiddeco commented on #2735
Means a _directory path_, even if the Kustomization is generated; which will include all files in the directory.

[2022-05-14 08:00] artem-nefedov opened #2736 ""flux create source helm" randomly fails reconciliation with "no artifact was found""
### Describe the bug

`flux create source helm` command would occasionally fail with an error:

[code]

The actual HelmRepository object is fine and usable. If you **immediately** call `flux reconcile source helm` on it after encountering that error, it will succeed.

### Steps to reproduce

1. Run `flux create source helm`
2. If bug isn't reproduced, delete HelmRelease and repeat step 1

### Expe

[2022-05-14 15:47] Saoirse-Derry commented on #1153
I can confirm moving to c resolves the issue

[2022-05-14 19:57] tomaszduda23 commented on #1522
I'm getting similar error with `flux version 0.30.2`. It used to work with `0.28.0`.

[code]

[2022-05-15 13:06] M-Gregoire commented on #2735
Thank you for your answer. I was just confused as the doc also states : `or the set of plain YAMLs a kustomization.yaml ` which I interpreted as "A directory or a set of path" but this isn't the case.

As this seems to be the intended behavior, I'm closing this issue.

[2022-05-15 13:06] #2735 closed

[2022-05-16 03:09] cokeBeer opened #2738 "Bootstrapping failed on kind v0.13.0"
### Describe the bug

[code]

### Steps to reproduce

intall flux
export GITHUB_ACCESS_TOKEN
execute
[code]

### Expected behavior

success like guide

### Screenshots and recordings

_No response_

### OS / Distro

Ubuntu 18.0.4 LTS

### Flux version

v0.30.2

### Flux check

flux check --pre
► checking prerequisites
✔ Kubernetes 1.24.0 >=1.20.6-0
✔ prerequisites checks passed

### Git provider

[2022-05-16 07:33] chuegel opened #2739 "Kustomize controller in status not ready with Kadalu resources"
### Describe the bug

We deployed [Kadalu](https://github.com/kadalu/kadalu) with flux to provide local storage for our cluster.s  The manifests used:
[kadalu release](https://github.com/kadalu/kadalu/releases)

*  csi-nodeplugin-rke.yaml
* kadalu-operator-rke.yaml
* kadalu-gluster-pool.yaml:

[code]
* kustomization.yaml:
[code]
Flux installs the resources successfully in the cluster but the kusto

[2022-05-16 07:49] SomtochiAma commented on #2738
Can you post `kubectl get deployment -n flux-system` and `kubectl describe` for any of the deployments so we can see why its failing?

[2022-05-16 08:02] chuegel commented on #2739
Thanks for your reply. Here it is:

[code]

[2022-05-16 08:06] cokeBeer commented on #2738
@SomtochiAma
kubectl get deployment -n flux-system
[code]
kubectl describe deployment  helm-controller  -n flux-system
[code]
kubectl describe deployment  kustomize-controller   -n flux-system
[code]

[2022-05-16 08:19] SomtochiAma commented on #2738
Can you check if there's any log from the pods
`kubectl logs deploy/helm-controller`

[2022-05-16 08:19] SomtochiAma commented on #2739
It looks like the CRD is okay. I will try and replicate this on my end

[2022-05-16 08:37] cokeBeer commented on #2738
I executed, but there is no output
[code]

[2022-05-16 09:39] aryan9600 commented on #2738
What does `kubectl get pod -n flux-system` say?

[2022-05-16 10:31] SomtochiAma commented on #2736
Hey @artem-nefedov ,
I have been unable to reproduce this. Can you give the helm repository you used if it is public?

[2022-05-16 10:47] cokeBeer commented on #2738
@aryan9600
kubectl get pod -n flux-system
[code]

[2022-05-16 10:52] aryan9600 commented on #2738
That's weird, if the pods are in a `Pending` state, this means that scheduler can't find a node to run it on. This is most likely due to the way your kind cluster is configured or there are existing workloads in the cluster that have exhausted resources. What does `kubectl describe pod helm-controller-6b9544b46-gcrbr -n flux-system` say?

[2022-05-16 10:56] cokeBeer commented on #2738
kubectl describe pod helm-controller-6b9544b46-gcrbr -n flux-system
[code]

[2022-05-16 11:06] aryan9600 commented on #2738
Yep, there is an issue with the kind cluster. `kubectl describe nodes` should give you an as to what's going on that's preventing the flux pods being scheduled.

[2022-05-16 11:37] cokeBeer commented on #2738
seems that problem goes here. If I created serveral clusters by kind, which cluster will the flux use?

[2022-05-16 13:15] cokeBeer commented on #2738
# How I fix the problem finally:
actually I met two problems, not enough worker nodes and too much time to pull docker images. By the way, there are two clusters on my VPS at start and my VPS is `4CORE8GB`
## problem one:not enough worker nodes
### reproduce
first
[code]
the command meets error ` context deadline exceeded`.
use comand `kubectl get pod -n flux-system` to get all pods, the output is

[2022-05-16 13:15] cokeBeer commented on #2738
@aryan9600  thanks for your help

[2022-05-16 13:15] #2738 closed

[2022-05-16 13:56] SomtochiAma commented on #2726
To customize Flux manifests, you should use patches instead. Please see this guide [https://fluxcd.io/docs/installation/#customize-flux-manifests](https://fluxcd.io/docs/installation/#customize-flux-manifests) and [https://fluxcd.io/docs/cheatsheets/bootstrap/](https://fluxcd.io/docs/cheatsheets/bootstrap/)

[2022-05-16 14:28] SomtochiAma commented on #2739
Hey @chuegel ,
The CRD is not a namespace resource. Please remove the namespace from the CRD in `kadalu-operator-rke.yaml`.
[code]

[2022-05-16 16:31] #2739 closed

[2022-05-16 17:05] #1593 closed

[2022-05-16 17:07] mewzherder commented on #2684
@punnarpulusu Thanks so much for this! We're reaching out to Flux users to hear more about how things are going, gathering feedback, and understanding needs. Would you be willing to have a chat with us? We'd appreciate it. lmk. ❤️

[2022-05-16 17:22] pjbgf commented on #1593
@mikesir87 just as an update, this has been recently merged into `main` and will be contained in the next `source-controller` release.

[2022-05-16 17:40] chuegel commented on #2739
Hey @SomtochiAma Thank you for your reply.
This worked indeed. Didn't noticed that the CRD had a namespace attached.

[2022-05-16 19:07] gunishmatta commented on #2650
@hiddeco  I would like to work on this

[2022-05-17 09:56] jprecuch commented on #2714
@kingdonb What we are trying to achive is following:
Let's say we have helmchart in version 1. We use valuesFrom configmap (where all the values.yaml changes are stored).

Now we want to do breaking upgrade to version 2 for which we need to do breaking changes in values.yaml (valuesFrom configmap).
Problem with FluxCD in this case is that there is no way how to make this done without using suspend

[2022-05-18 08:21] jambu opened #2743 "Flux crd dryrun error on version upgrade"
### Describe the bug

I have full cluster definitions which was previously running on flux 0.17.2. I used the latest flux version and tried to bring up the same cluster.
I use flux install command to get the components file and then kubectl apply them.
flux install --export > gotk-components.yaml

[code]
I keep getting this error, I am not sure if I have to migrate apiVersion in my gitrepository o

[2022-05-18 08:37] SomtochiAma commented on #2743
Can you try applying that CRD with server-side apply and see if you still get the error?
[code]

[2022-05-18 08:57] jambu commented on #2743
[code]

Still same error

[2022-05-18 09:08] SomtochiAma commented on #2743
Did you get the same error when you ran the kubectl command? It seems it worked okay from what you posted
and sorry I forgot add the dry-run flag in the command I posted
[code]

[2022-05-18 09:21] jambu commented on #2743
It applies successfully, but `flux get kustomizations` is throwing error and reconciliation is stuck with the error.
[code]

[2022-05-18 10:17] SomtochiAma commented on #2743
It seems that there's some mismatch with the CRD version.
My first thought would be to delete that particular CRD and try to re-run the flux install command.
How did you install flux the first time, I will try and recreate this error on my end?

[2022-05-18 10:24] artem-nefedov commented on #2736
Hi @SomtochiAma
Unfortunately, this is reproduced on a private repo.
Also, when I intentionally try to reproduce it (with either private or public repo), I don't have any success.
It does occasionally happen during our actual workflow, where we create the cluster, install flux, and create helm repo object, and I can't tell what makes the difference compared to isolated reproduction attempt.

You c

[2022-05-18 10:36] jambu commented on #2743
Sure, I did `flux30 install --export` to get the gotk-components.yaml from my end and did `kubectl apply -f gotk-components.yaml`. This is the latest flux version. This is the CRD in my cluster.

[code]

[2022-05-18 10:43] SomtochiAma commented on #2743
It seems you did a bootstrap the first time you installed flux(that's when you installed version 0.17.2)? since you have the `flux-system` kustomization and it seem to still be trying to sync the old crds from your git repository.
Can you run `flux get source git` to see if you have `flux-system` gitrepository?

if this is so you need to upgrade by running the `flux bootstrap` again so that it pus

[2022-05-18 11:19] jambu commented on #2743
Yes, That makes sense. I didnt realize the repo gotk-components.yaml will be synced again. I will proceed from here. Thanks for the help!!

[2022-05-18 11:19] #2743 closed

[2022-05-18 11:26] SomtochiAma commented on #2736
Can you see any logs from the source-controller? `kubectl logs deploy/helm-controller` and get the status of the helm repository `kubectl get helmrepository <name> -oyaml`

[2022-05-18 11:41] SomtochiAma commented on #2736
Looking at https://github.com/fluxcd/flux2/blob/main/cmd/flux/create_source_helm.go#L199, it seems there was really no artifact in helm repository. Maybe the helm chart isn't ready yet and some seconds later (when you run the second command) it is.

[2022-05-18 12:21] artem-nefedov commented on #2736
That could be the case, but then it begs the question: why can source-controller report that reconcile has finished before artifact is ready? It looks like there's a race condition in play here. Or, if that's a normal behaviour for the controller, why doesn't flux cli wait for artifact to appear?

For now, I've added a workaround to immediately call `flux reconcile` if `flux create` fails, e.g.:
[

[2022-05-18 12:32] kingdonb commented on #2730
That's very strange!

In the standard distribution or bootstrap result, the components file is called `flux-system/gotk-components.yaml`

Are you certain that you have overwritten it in place? In your report, the filename used is `components.yaml` instead.

[2022-05-18 20:24] jprecuch commented on #2714
It seems this might be a same request that I can see here
https://github.com/fluxcd/flux2/issues/2287

I've also tried to use
[code]
But that seems to not help this case anyhow and the upgrade still happens on each commit to the configmap. Would be probably good if we could set somehow reconcileStrategy for HelmRelease (not just for HelmChart)

[2022-05-19 08:11] marcincuber opened #2751 "Issue upgrading flux using bootstrap command"
### Describe the bug

I have existing flux system installed and I don't seem to be able to upgrade my existing templates:

I am running following command:
[code]

[code]

I can confirm that paths are definitely correct and flux files should simply be upgrade in `./environments/aws/flux-system` directory.

Could I get some advise how I should proceed with the upgrade without breaking anything?

###

[2022-05-19 10:49] reiSh6phoo9o opened #2752 "garbage collection on removal of Kustomization does not work as documented"
### Describe the bug

In flux documentation regarding garbage collection, it says (https://fluxcd.io/docs/components/kustomize/kustomization/#garbage-collection): "Garbage collection is also performed when a Kustomization object is deleted, triggering a removal of all Kubernetes objects previously applied on the cluster."

From that, I assume that if I remove a flux Kustomization manifest from my

[2022-05-19 12:40] SomtochiAma commented on #2752
Hey @reiSh6phoo9o ,
The Kustomize controller does garbage collect the objects it created when it is removed.
I am not sure why it isn't working in your case. If the flux is watching the repository, it is possible that the customization you deleted was recreated on the next run. You can remove the file for the Flux kustomization from the repository to ensure this isn't what's happening.

[2022-05-19 13:22] reiSh6phoo9o commented on #2752
Hi @SomtochiAma ,
I delete the Kustomization exact in the way you sugest, it is: remove the file, push to the repo, let flux delete the Kustomization object.
The Kustomization object is deleted by flux, I can confirm; but the other objects stay

[2022-05-19 16:47] pjbgf commented on #1602
The unified standards are defined, but still being improved as they are rolled out across the controllers.
Temporary reference can be found at:
- [Controller Patterns](https://gist.github.com/darkowlzz/02cbdeaa3e5d05bdc620515a66311684)
- [kstatus conditions](https://gist.github.com/darkowlzz/969c90b2f309908a6d71dd861ba69653)
- [kstatus - conditions and generations check](https://gist.github.com/da

[2022-05-20 02:56] pdf commented on #1785
This will depend on how the encryption is being done, and you probably don't actually want that

You need to fix this part of your process, to only modify secrets when they actually change:

I don't think there's really anything for flux to do here.

[2022-05-20 08:21] wibed opened #2754 "flux bootstrap git timeout -- ssh works fine"
### Describe the bug

i run the command
[code]

the public key already in the `authorized_keys` file works fine, if i issue:
[code]

check
[code]

get sources
[code]

### Steps to reproduce

- create a private git server
- provision your keys
- try to bootstrap flux given repo

### Expected behavior

for the ssh to connect

### Screenshots and recordings

_No response_

### OS / Distro

Mac os

##

[2022-05-20 08:35] rfftrifork commented on #2728
@hiddeco sorry, you're right, my tone isn't fair to the effort and work put in. That said, I do stand by the basic point that the effort put into a CLI is better put elsewhere, simply for the reasons, does it offer anything that's actually makes it worth the effort, and do the users even what it - most serious tech people I know actually get annoyed by such tools more or less for the reasons state

[2022-05-20 08:36] SomtochiAma commented on #2754
[code]

`localhost` on your machine is different from `localhost` in the cluster. Or is the git server deployed on your cluster?

[2022-05-20 09:07] wibed commented on #2754
@SomtochiAma it is deployed on the cluster. is that an issue?

[2022-05-20 09:19] SomtochiAma commented on #2754
No, that should be fine.
The `source-controller` deployment is trying to connect to the git server at `localhost:9000`. Only containers in the same pod can communicate using localhost. You could try using the service to connect to it.

[2022-05-20 09:43] wibed commented on #2754
if i pass the service ip, it does try to clone the repo first and fails doing so.
if i give it the forwarded port it clones and timesout after (as stated above)

[2022-05-20 11:07] SomtochiAma commented on #2754
So what's happening is that when running the bootstrap command on your machine, the git server is accessible at `localhost`. I am guessing you port-forwarded. But when the source-controller is trying to reconcile the git repository it doesn't work.
You would need to use a URL that works both within and outside the cluster. Can you use an ingress?

Alternatively, you can [customize](https://fluxcd.

[2022-05-20 15:32] kingdonb commented on #2730
As long as it matches what you find in your `kustomization.yaml` as generated by this line:

[code]

(from the section just above https://fluxcd.io/docs/use-cases/azure/#flux-upgrade)

It does not matter what the file is named, so long as it is mentioned in `kustomization.yaml` – a word about that, the name of this one file IS important. No other file can be named `kustomization.yaml` as this file

[2022-05-20 15:57] kingdonb commented on #2245
Thanks for your thoughts on this.

The issue as I understood it is that Flux is syncing from a path which does not exist, the Kustomization works to apply itself from that path. The kustomization in the cluster does not get the update because the update is not in that path (it's in the correct path, which was never given to the cluster.)

It is a sort of chicken and egg problem, Flux cannot heal i

[2022-05-20 15:57] #2245 closed

[2022-05-20 18:26] kingdonb commented on #2728
A lot of care is taken to ensure the docs are accessible and easy to follow, I'm sorry this experience has been frustrating.

There's a lot of secret handling and repository structure stuff that is easy to get subtly wrong in potentially dangerous ways when handled manually. It's also easy to "miss the point" at this junction, one can install Flux in a cluster in a way where Flux itself is not its

[2022-05-22 08:21] stefanprodan commented on #2754
Bootstrap against localhost is not supported, also running a Git server on the same cluster with Flux breaks the whole GitOps idea since the cluster state can’t be restored, if the cluster goes down so does the git server running on it.

[2022-05-22 08:21] #2754 closed

[2022-05-22 08:22] #1785 closed

[2022-05-23 09:35] hiddeco commented on #1522
@tomaszduda23 can you confirm the directory structure in #657 matches yours? As the tests for this appear to pass.

[2022-05-23 15:10] aek-arm opened #2760 "flux bootstrapping not working for bitbucket server with none-root baseurl / not handling http 301 response"
### Describe the bug

flux version 0.30.2 running against a Bitbucket server fails to get project listing.
Reason seems to be that neither a base url can be provided to flux nor is the 301 redirect honoured.

✗ failed to create new Git repository "fluxcd": failed to get Git organization: failed to get organization "KUBDEP": get project failed, unable to unmarshal repository list json: invalid char

[2022-05-23 18:30] Daklon opened #2761 "GitRepository support for fallback url"
### Describe the bug

On my current company we are using flux on all of our clusters. We started to move all of our services from ec2 instances to k8s. The latest thing that we moved was our self hosted Gitlab.

The problem was when we moved gitlab to k8s, flux deleted everything that it manages. We had to disable flux on our infrastructure cluster and deploy everything manually until we address t

[2022-05-23 20:22] tomaszduda23 commented on #1522
I get the same error with your structure.
[code]

[2022-05-24 08:59] stefanprodan opened #2763 "Add `--ignore-path` to `flux create source`"
We need to add a new arg (string array) to `flux create source git` and `flux create source bucket` that populates the `ignore` spec filed, each arg would add a new line to the ignore value e.g.:

[code]

The above command will generate:

[code]

[2022-05-24 10:37] fire-ant opened #2765 "Add an --offline or --dry-run flag to flux build kustomization"
### Describe the bug

Today if attempting something like:

`flux build kustomization my-app --path ./path/to/local/manifests --kustomization-file ./path/to/local/my-app.yaml`

Flux requires 2 things:

- a valid apiserver endpoint listed in the current context kubeconfig
- a kustomisation object matching that which is referenced when using the command flux build kustomization

For environments wher

[2022-05-24 10:39] stefanprodan commented on #2765
Duplicate of: https://github.com/fluxcd/flux2/issues/2688

[2022-05-24 10:40] fire-ant commented on #2765
@stefanprodan thanks, lets close this and continue there

[2022-05-24 10:40] #2765 closed

[2022-05-24 10:59] stefanprodan commented on #2751
You can't change the path at upgrade time. If you want to bootstrap on a different path, then you to run `flux uninstall --keep-namespace` then run bootstrap fresh.

[2022-05-24 10:59] #2751 closed

[2022-05-24 11:09] FofM commented on #2730
Thanks for your input @kingdonb , I had another look at file naming and we do seem to be in order there. I've done several different upgrade scenarios in the meantime and I found one that works on a test cluster. I should know by the end of the week if it will work on the existing clusters. In short:
- The AKS version is not important, I have tried using only 1.23.3 and I can reproduce the behavio

[2022-05-24 11:20] steveww opened #2766 "flux version only displays when connected to an initialised cluster"
### Describe the bug

Running `flux version` only displays when connected to a cluster. If you're not connected to a valid cluster you can not find out the version of the CLI.

### Steps to reproduce

Have an empty of invalid kube context, run `flux version`

### Expected behavior

I would expect it to show the version of the CLI no matter whether it can connect to a cluster or not. Having to spec

[2022-05-24 11:29] darkowlzz commented on #2766
Hi, there's `flux -v` flag that prints the CLI version.

[code]

[2022-05-24 11:36] stefanprodan commented on #2766
There is also:

[code]

[2022-05-24 11:36] #2766 closed

[2022-05-24 15:07] aek-arm commented on #2760
Workaround is possible if you have ssh access to the bitbucket server itself and you can create own dns entries.
1. Create a copy of the bitbucket nginx config
2. Listen on an alternate server_name (here gitapi.xxx.ch instead of bitbucket.xxx.ch).
3. Remove the root (/) location
4. Amend the /bitbucket location to be root /
5. Change the proxy_pass to include whatever is configured in your Bitbuck

[2022-05-25 00:10] takirala commented on #2763
Addressed in https://github.com/fluxcd/flux2/pull/2767

[2022-05-25 13:26] carlbordum commented on #2508
I'm having the same issue, and I also found it to probably be because coredns is having issues.

[2022-05-25 13:32] stefanprodan commented on #2508
Flux requires a functioning cluster, so before running `flux bootstrap` you need to make sure CoreDNS and CNI are up and running, also egress to GitHub (or whatever Git service you're using) must work.

[2022-05-25 13:47] texasbobs opened #2770 "Renamed Deployment Leaves Old One and New One Running"
### Describe the bug

We had a deployment that got renamed (both the file and the `deployment`).  Kustomize controller created the new deployment with the new name but never deleted the old one.

### Steps to reproduce

Create a deployment and have flux apply it
Rename the deployment and have flux apply it

### Expected behavior

The old deployment should be deleted

### Screenshots and recordings

[2022-05-25 14:25] stefanprodan commented on #2770
Ok looking at your printscreen seems that you haven't renamed the `Deployment.metadata.name` but pod labels. Flux can't remove things it doesn't manage, in this case Flux does not manages the pods, the Kubernetes replicaset does. There is nothing we can do in this case.

[2022-05-25 14:46] stefanprodan commented on #2770
If you look at the kustomize-controller does it say `<old deployment name> deleted`? Also was `prune: true` set before you renamed the deployment?

[2022-05-25 16:54] texasbobs commented on #2770
That was it.  When we converted from flux to flux2, this store did not get its kustomizations added.  Thank you!

[2022-05-25 17:42] jpellizzari opened #2771 "`flux bootstrap` with image automation fails dry-run"
### Describe the bug

When running the [image-automation "Getting Started" guide](https://fluxcd.io/docs/guides/image-update/#install-flux) on a fresh cluster, I get this error:

[code]

### Steps to reproduce

Run this `flux bootstrap` command:

[code]

Here is the output that I see:
[code]

### Expected behavior

The command to finish without errors.

### Screenshots and recordings

_No response

[2022-05-25 18:00] stefanprodan commented on #2771
You are using an alpha API, you need to rewrite the image automation manifests for v1beta1, there is no `.spec.update.setters` in the latest version.

[2022-05-25 18:15] jpellizzari commented on #2771
Deleted my repo and retried and it works. Thanks @stefanprodan and sorry for the noisey issue.

[2022-05-25 18:15] #2771 closed

[2022-05-26 11:39] achetronic commented on #2761
@stefanprodan @hiddeco
Hello there,
Think that this would be a good solution for the use case. This will allow Gitlab to create mirrors outside, for example in GitHub. What is your opinion about it?

[2022-05-26 11:49] stefanprodan commented on #2761
I'm not in favour if this, you can't have a backup by just providing a different URL, for SSH the deploy keys are unique per repo so the auth will fail, same with HTTPS access, a GitHub token will not work on GitLab.

[2022-05-26 13:47] Daklon commented on #2761
Yes, you are right, I didn't thought about the different ssh keys and https tokens. I have a second proposal that could fit here.
Instead of having a fallback url defined on the gitrepository, what about having two different gitrepositories, each one configured to his own git server. But allowing to have the fallback logic at kustomization level, let me add an example of how it could be:

[code]

[2022-05-26 13:56] stefanprodan commented on #2761
You can do the swap in Git, include the first one in the `kustomization.yaml`, then before you migrate, replace it with the backup. Another option is to use a kustomize patch, you sync both secrets, then before the migration you enable a patch that changes the URL and the secret name.

[2022-05-26 17:43] kingdonb commented on #2752
Is this possibly related to:

* https://github.com/fluxcd/flux2/issues/2660

Short version: is your kustomization still pointing at an existing path or was the entire path removed

[2022-05-26 20:51] doctorpangloss opened #2772 "Error looking up service account XXX because it is not found, although it's in the manifest"
### Describe the bug

When I define a ServiceAccount and a Pod that uses it in the same file in an empty (implicit Kustomize) directory in my flux managed git repo, Flux fails to reconcile. I expect it to work, because it is super routine.

### Steps to reproduce

 1. Create an 1.22 EKS cluster with flux installed via eksctl.
 2. Write the calicoctl.yaml to an empty kube-system directory in your r

[2022-05-27 09:10] makkes commented on #2772
kustomize-controller applies resources in two stages:
1. Namespaces and CRDs
2. all other resources
Since the ServiceAccount is part of stage two, the dry-run will fail. In your case I would employ two Kustomzations, one that creates the ServiceAccount and another one that creates the Pod and then let the latter depend on the former: https://fluxcd.io/docs/components/kustomize/kustomization/#kusto

[2022-05-27 09:32] makkes commented on #2772
Another option would be to use a Deployment instead of a Pod directly.

[2022-05-27 09:38] stefanprodan commented on #2772
Yes that's the best option, Flux is not meant to manage pods directly, using a Deployment or Job is what we expect.

[2022-05-27 09:39] #2772 closed

[2022-05-27 10:55] makkes opened #2774 "Add OCI support to `flux create source helm`"
With https://github.com/fluxcd/source-controller/pull/690, source-controller gained the ability to consume Helm charts from OCI registries. The CLI should support creating OCI-type HelmRepositories, too. The type is inferred from the URL:

[code]

will create a HelmRepository with the `.spec.type` field set to `oci`.

The example section of `flux create source helm --help` should include an exampl

[2022-05-27 14:38] doctorpangloss commented on #2772
Should Flux2 work with Calico's real manifest? It would be painful to patch this. They may have set the manifest up exactly the way it is in response to other bugs.

[2022-05-27 14:42] stefanprodan commented on #2772
@doctorpangloss that pod does do much, it just prints the version inside the container:

[code]

We have no plans on supporting managing pods with Flux, the above could be a Deployment with a single replica.

[2022-05-27 14:44] stefanprodan commented on #2772
As an alternative, you could use a Flux HelmRelease to install calico https://projectcalico.docs.tigera.io/getting-started/kubernetes/helm

[2022-05-27 22:11] anthr76 opened #2780 "Handle multi-doc `kustomize.toolkit.fluxcd.io/v1beta2` YAML within flux build"
### Describe the bug

When using on-disk local flux Kustomization file that is a multi-doc yaml patches within it aren't "built" on `flux build`

### Steps to reproduce

1. Consider a `flux-kustomize.yaml` like:

[code]
2. `flux build kustomization kps --path ./k8s/base/infra/kps --kustomization-file ./k8s/clusters/cluster-0/definitions/infra.yaml`

The kustomization will build successfully output

[2022-05-28 12:00] SnGmng commented on #1153
Please fix. Its been more than two months without any signs of an effort to fix this isssue.

[2022-05-28 12:56] stefanprodan commented on #2780
We need to use the Kustomization name and namespace given to the command and search in the multi-doc YAML for that exact Kustomization, if it's not found then we should error out. Thanks @anthr76 for the bug report.